.root {
  display: inline-flex;
  height: var(--indicator-size);
  width: var(--indicator-size);

  & > dato-tooltip {
    display: inline-flex;
    height: 100%;
  }
}

.trigger {
  color: #ff7751;
  height: 100%;
  line-height: 0;
}
