.membersWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.members {
  display: grid;
  gap: 40px 25px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: var(--page-width-with-margin);
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
  width: 100%;
  text-align: center;
}

.memberImage {
  border-radius: 4px;
  box-shadow: var(--smaller-box-shadow);
  overflow: hidden;
}

.memberInfo {
  font-size: 14px;
  margin-top: 15px;

  p {
    color: var(--light-body-color);
  }
}
