---
import { Svg } from '~/components/Svg';
import s from '../_style.module.css';
---

<div class={s.planBullet}>
  <div class={s.planBulletIcon}>
    <Svg name="icons/regular/check" />
  </div>
  <slot />
</div>
