.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rfs(16px);
  white-space: nowrap;
}

.nav {
  margin: 0 1rem;
}

.links {
  display: flex;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.linksItem {
  display: block;
  border-radius: 4px;
  color: var(--light-body-color);
  padding: 0.5rem 1rem;
  text-decoration: none;

  &:hover:not(.linkActive) {
    background-color: #f6f6f6;
    color: var(--base-body-color);
  }
}

.linkActive {
  background-color: var(--accent-color);
  color: #fff;
}

.button {
  border-radius: 4px;
  color: #333;
  color: var(--light-body-color);
  padding: 0.5rem 1rem;
  text-decoration: none;

  &:hover:not(.linkActive) {
    color: var(--base-body-color);
  }
}

.disabled {
  color: #ccc;
  pointer-events: none;
}
