.post {
  color: inherit;
  display: block;
  margin-bottom: rfs(120px);
  text-decoration: none;
}

.postImage {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  margin-bottom: 30px;
  overflow: hidden;
  transition: all 0.2s ease;
  width: 80%;

  .post:hover & {
    transform: translateY(-2%) scale(105%);
  }
}

.postTitle {
  font-family: var(--font-serif);
  font-size: rfs(55px);
  line-height: 1;
  margin-bottom: rfs(30px);

  @media (width > 600px) {
    font-family: var(--font-headline);
    font-weight: bold;
  }
}

.postLogo {
  height: rfs(40px);
}

.postBody {
  padding-left: 20%;
}
