.highlight {
  align-items: flex-start;
  color: inherit;
  display: grid;
  gap: rfs(50px);
  grid-template-columns: 1fr;
  position: relative;
  text-decoration: none;

  @media (width > 900px) {
    grid-template-columns: 4fr 5fr;
  }
}

.highlightImage {
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  display: block;

  @media (width > 900px) {
    margin-bottom: rfs(40px);
  }

  .highlight:hover & {
    transform: translateY(-5px);
  }
}

.highlightLogos {
  align-items: center;
  display: flex;
  gap: rfs(10px);
  justify-content: flex-start;
  margin-bottom: rfs(30px);

  img,
  svg {
    flex-shrink: 0;
    height: rfs(20px);
    mix-blend-mode: multiply;
  }
}

.highlightTitle {
  font-family: var(--font-headline);
  font-size: rfs(55px);
  line-height: 1;
  margin-bottom: rfs(30px);

  @media (width > 600px) {
    font-family: var(--font-headline);
  }
}

.highlightBody {
  flex: 5;
  margin-bottom: rfs(40px);
  position: relative;
}

.readMore {
  text-transform: uppercase;
  color: var(--light-body-color);
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin-top: 1em;

  /* make all body linkable */
  &::after {
    position: absolute;
    inset: 0;
    z-index: 1;
    content: '';
  }
}

.highlightNumbers {
  background-color: #fff;
  border-radius: 6px;
  bottom: 0;
  box-shadow: var(--box-shadow);
  display: flex;
  gap: rfs(16px);
  justify-content: space-between;
  padding: rfs(50px) rfs(34px);
  pointer-events: none;
  position: absolute;
  transform: translateY(100%);
  width: 100%;

  @media (width > 900px) {
    grid-column: span 2;
  }
}

.numberBlock {
  flex: 1;
  flex-shrink: 0;
  text-align: center;
}

.numberTitle {
  color: var(--accent);
  font-size: rfs(32px);
  font-weight: 600;
  letter-spacing: -0.05em;
}

.numberLabel {
  font-size: 0.75em;
  font-weight: 600;
  margin-top: 1em;

  @media (width > 520px) {
    font-size: 0.875em;
  }
}

.grid {
  display: grid;
  gap: rfs(40px) rfs(30px);
  margin-top: 160px;

  @media (width > 640px) {
    grid-template-columns: 1fr 1fr;
  }
}
