.search {
  display: flex;
  justify-content: center;
  margin-bottom: rfs(80px);
}

.searchInput {
  border: 1px solid var(--border-color);
  border-radius: 100px;
  padding: 10px 30px;
  font-size: inherit;
  font-family: inherit;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    border-color: #999;
  }
}
