---
import type { FragmentOf } from 'gql.tada';
import { PostFragment } from './_graphql';
import { readFragment } from 'gql.tada';

type Props = {
  content: FragmentOf<typeof PostFragment>;
};

const content = readFragment(PostFragment, Astro.props.content);
---

<article>
  <a href={`/product-updates/${content.slug}`}>
    <h3>{content.title}</h3>
  </a>
</article>
