---
import { render as structuredTextToPlainText } from 'datocms-structured-text-to-plain-text';
import type { Heading } from 'datocms-structured-text-utils';
import { slugify } from '~/lib/slugify';

interface Props {
  // https://www.datocms.com/docs/structured-text/dast#heading
  node: Heading;
}

const { node } = Astro.props;

const Element = `h${node.level}` as const;

// Convert the node to plain text, and then slugify
const slug = slugify(structuredTextToPlainText(node));
---

{
  /*
    Renders a Structured Text heading node as an heading with anchor link.
  */

  slug ? (
    <Element id={slug} tabindex="-1">
      <a href={`#${slug}`}>
        <slot />
      </a>
    </Element>
  ) : (
    <Element>
      <slot />
    </Element>
  )
}
