.root {
  margin: rfs(100px) 0;
  position: relative;

  &:before {
    background: linear-gradient(45deg, #e9fcff 30%, #fdf2ed 60%);
    bottom: 0;
    clip-path: var(--clip-path);
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 40%;
    z-index: -1;

    @media (width > 900px) {
      top: 0;
    }
  }
}

.rootInner {
  @media (width > 900px) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.intro,
.pointsWrapper {
  flex: 1;
}

.intro {
  margin: 0 0 rfs(80px);

  @media (width > 900px) {
    margin: 120px 70px 100px 0;
  }
}

.kicker {
  color: var(--extra-light-body-color);
  font-size: rfs(20px);
  font-weight: bold;
  margin-bottom: rfs(30px);
  text-transform: uppercase;
}

.introTitle {
  font-family: var(--font-headline);
  font-size: rfs(60px);
  font-weight: bold;
  line-height: 1;
  margin: 0 0 rfs(40px) 0;
}

.introDescription {
  margin: 0 0 rfs(40px) 0;
}

.pointsWrapper {
  background: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.point {
  border-bottom: 1px solid var(--border-color);
  padding: rfs(40px);
  &:last-child {
    border-bottom-width: 0;
  }
}

.pointTitle {
  font-size: rfs(25px);
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
}

.pointDescription {
  font-size: 0.9em;
}
