.pane {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  overflow: hidden;
  margin: 10px 0;
}

.expandablePaneButton {
  background: white;
  color: var(--base-body-color);
  border: 0;
  padding: 10px;
  font-family: var(--font-sans);
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  background: var(--light-bg-color);
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 15px;

  & > span {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  svg {
    fill: var(--extra-light-body-color);
  }

  & > span:first-child {
    display: flex;
  }

  & > span:last-child {
    display: none;
  }

  &[aria-expanded='true'] {
    & > span:first-child {
      display: none;
    }
    & > span:last-child {
      display: flex;
    }
  }
}

.expandablePaneContent {
  padding: 15px;
  display: none;
  font-size: 16px;

  &[data-open] {
    display: block;
  }
}
