.pane {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  overflow: hidden;
  margin: 10px 0;
  display: block;
  padding: 0;

  & > summary {
    background: white;
    color: var(--base-body-color);
    border: 0;
    padding: 10px;
    font-family: var(--font-sans);
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
    background: var(--light-bg-color);
    display: flex;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
    gap: 10px;

    & > svg {
      fill: var(--extra-light-body-color);
    }
  }

  &[open] > summary > .closedSvg {
    display: none;
  }

  &:not([open]) > summary > .openSvg {
    display: none;
  }
}

.expandablePaneContent {
  padding: 15px;
  font-size: 16px;
}
