.expandablePaneButton {
  background: white;
  color: var(--light-body-color);
  border: 1px solid var(--border-color);
  margin-top: 10px;
  padding: 5px 13px;
  font-family: var(--font-sans);
  border-radius: 3px;
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 15px;

  svg {
    margin-right: 5px;
    fill: var(--extra-light-body-color);
  }

  &:hover {
    color: var(--base-body-color);
  }

  span:first-child {
    display: none;
  }
  span:last-child {
    display: inline;
  }

  &[data-open] {
    span:first-child {
      display: inline;
    }
    span:last-child {
      display: none;
    }
  }
}

.expandablePaneContent {
  display: none;

  &[data-open] {
    display: block;
  }
}
