.limit,
.plansContainer {
  @media screen and (width >= 700px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    align-items: stretch;
    column-gap: 50px;
  }

  @media screen and (width < 700px) {
    > * {
      margin-bottom: 40px;
    }
  }
}

.agenciesCta {
  color: inherit;
  margin-bottom: 60px;
  display: block;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #f2ffff, #fefbe4);
  box-shadow: 0;
  transition: box-shadow 0.2s ease-in-out;

  mark {
    background-image: linear-gradient(120deg, #faf77d 0%, #faf77d 100%);
    background-repeat: no-repeat;
    font-weight: bold;
  }

  svg {
    height: 2em;
    margin-right: 10px;
  }

  &:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.04);
  }
}

.plansStrip {
  position: relative;

  &:before {
    content: '';
    clip-path: var(--clip-path);
    background: linear-gradient(45deg, #e9fcff 30%, #fdf2ed 60%);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 20%;
    z-index: -1;
  }
}

.plansContainer {
  margin-bottom: 40px;
}

.plan {
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: center;
}

.planInner {
  max-width: 400px;
}

.planName {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-size: rfs(25px);
  margin-bottom: 10px;
}

.planDescription {
  font-size: 0.9em;
  margin-bottom: 30px;
  color: var(--light-body-color);
}

.planPriceContainer {
  padding-bottom: 30px;
}

.planPriceKicker {
  margin-top: 5px;
  color: var(--light-body-color);
}

.planPrice {
  font-weight: bold;
  letter-spacing: -0.02em;
  font-size: rfs(25px);
}

.planPricePerMonth {
  color: var(--light-body-color);
}

.planYearlyPrice {
  display: block;
  margin-top: 6px;
  font-size: 0.9em;
}

.planBullets {
  margin-top: 40px;
  text-align: left;
  font-size: 0.9em;
}

.planBullet {
  margin-bottom: 13px;
  display: flex;
  align-items: flex-start;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
    color: inherit;

    &:hover {
      color: var(--azure-color);
    }
  }
}

.readMore {
  margin-top: 25px;
}

.planBulletIcon {
  margin-right: 9px;

  svg {
    fill: var(--azure-color);
  }
}

.readMoreBulletIcon {
  margin-right: 9px;
  width: 1em;
  height: 1em;
}

/* --------------------------------------------------- */

.stdTitle {
  font-size: rfs(20px);
  font-weight: bold;
  color: var(--extra-light-body-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto rfs(70px);
  max-width: 700px;
}

.stdBullets {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: rfs(70px) rfs(100px);

  @media (width > 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width > 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.stdBullet {
  text-align: center;
}

.stdBulletTitle {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: rfs(20px);
}

.stdBulletDesc {
  color: var(--light-body-color);
  font-size: 0.9em;
}

.faqs {
  max-width: 1000px;
  margin: 0 auto;

  @media (width > 600px) {
    column-count: 2;
    column-gap: 60px;
  }
}

.faq {
  margin-bottom: rfs(40px);
  display: inline-block;
  width: 100%;
  text-align: center;

  @media (width > 600px) {
    text-align: left;
  }
}

.faqQ {
  font-weight: bold;
  color: var(--light-body-color);
  font-size: rfs(20px);
  margin-bottom: 15px;
}

.faqA {
  font-size: 0.9em;

  a {
    color: inherit;

    &:hover {
      color: var(--accent-color);
    }
  }
}

.buttonGroup {
  margin-top: 20px;
  display: inline-grid;
  column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.fTable {
  width: 100%;
  border-spacing: 0;

  &[data-is-filtering] [data-show-if] {
    display: none !important;
  }
}

.fTable th,
.fTable td {
  vertical-align: middle;
}

.fTableHead {
  text-align: left;
  font-weight: normal;
  min-width: 300px;
}

.fTablePlan {
  font-weight: normal;
  width: 30%;
  min-width: 250px;
  border: 1px solid var(--border-color);
  border-right: 0;

  &:last-child {
    border-right: 1px solid var(--border-color);
  }
}

.fTableHead,
.fTablePlan {
  border-bottom: 1px solid var(--border-color);
  padding: 0 30px 30px;
  background: white;

  @media screen and (height >= 750px) and (width >= 850px) {
    position: sticky;
    z-index: 101;
    top: 0;
  }

  @media screen and (height >= 750px) and (width >= 1125px) {
    top: 80px;
  }
}

:global(html):has([data-notice]) {
  .fTableHead,
  .fTablePlan {
    @media screen and (height >= 750px) and (width >= 1125px) {
      top: 110px;
    }
  }
}

.fTableScroll {
  overflow: scroll;

  @media screen and (height >= 750px) and (width >= 850px) {
    overflow: unset;
  }
}

.fTableAnchor {
  position: relative;
  top: 0;

  @media screen and (width >= 1125px) {
    top: -90px;
  }
}

.fTableHeadTitle {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.1;
}

.fTableHeadDiff {
  display: flex;
  margin-top: 10px;
  font-size: 15px;
  cursor: pointer;
  align-items: center;

  span {
    padding-left: 0.4em;
  }
}

.fTablePlanName {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1;
}

.fTablePlanPrice {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fTableFeature:last-child td,
.fTableFeature:last-child th {
  border-bottom: 1px solid var(--border-color);
}

.fTableGroup + .fTableFeature td,
.fTableGroup + .fTableFeature th {
  border-top: 1px solid var(--border-color);
}

.fTableFeatureOdd {
  background: var(--highlight-bg-color);
}

.fTableFeature:hover {
  background: #fffff0;
}

.fTableFeatureOdd:hover {
  background: var(--darker-lighlight-bg-color);
}

.fTableFeatureName {
  font-weight: normal;
  text-align: left;
  padding-left: 30px;
  min-width: 300px;
  font-size: 15px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.fTableFeaturePlan {
  text-align: center;
  font-size: 15px;
  padding: 10px 20px;
  border-right: 1px solid var(--border-color);
}

.fTableGroup {
  &[data-hidden] {
    display: none;
  }

  [data-show-if='open'] {
    display: none;
  }

  [data-show-if='closed'] {
    display: inline;
  }

  &[data-open] {
    [data-show-if='open'] {
      display: inline;
    }

    [data-show-if='closed'] {
      display: none;
    }
  }

  td {
    font-weight: bold;
    padding: 25px 30px 15px;
    border: 1px solid var(--border-color);
    border-bottom-width: 0;
    cursor: pointer;
    vertical-align: middle;
  }

  &:first-child td {
    border-top: 0;
  }

  &:not([data-open]):not(:has(~ .fTableGroup)) td {
    border-bottom-width: 1px;
  }
}

.fTableFeature {
  &[data-part-of-group] {
    display: none;

    &[data-open] {
      display: table-row;
    }
  }
}

.fTableGroupIcon {
  vertical-align: middle;
  fill: var(--azure-color);
  transition: all 0.2s ease-in-out;
  width: 1em;
  height: 1em;
}

.fTableGroupCount {
  font-weight: normal;
  color: var(--light-body-color);
}

.fTableGroup td:hover .fTableGroupIcon {
  opacity: 0.5;
}

.fTableGroupIcon {
  display: inline-block;
  margin-right: 10px;
}

.fTableFeatureNameSplit {
  display: flex;
  align-items: center;
}

.fTableFeatureNameName {
  flex: 1;
  text-wrap: balance;
  padding: 12px 0;
}

.fTableFeatureNameInfo {
  margin-left: 10px;
  position: relative;
  padding: 14px;
  padding-right: 30px;
  svg {
    width: 15px;
    height: 15px;
    fill: var(--light-body-color);
  }
}

.fTableFeatureNameInfoHint {
  display: none;
  position: absolute;
  bottom: 100%;
  right: 0;
  max-width: 400px;
  min-width: 300px;
  background: var(--dark-bg-color);
  color: white;
  z-index: 110;
  padding: rfs(30px);
  border-radius: 4px;
  font-size: 14px;
  text-wrap: balance;

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    right: 29px;
    margin-left: -9px;
    border-width: 9px;
    border-style: solid;
    border-color: var(--dark-bg-color) transparent transparent transparent;
  }

  p {
    margin: 0;
    margin-bottom: 10px;
  }
}

.fTableFeatureNameInfoHint .fTableFeatureNameInfoHint p:last-child {
  margin-bottom: 0;
}

.fTableFeatureNameInfo:hover .fTableFeatureNameInfoHint {
  display: block;
}

.check {
  border: 2px solid var(--azure-color);
  background-color: var(--azure-color);
  display: inline-block;
  fill: white;
  padding: 3px;
  border-radius: 100px;

  svg {
    fill: white;
    display: block;
    width: 12px;
    height: 12px;
  }
}

.nope {
  border: 2px solid #aaa;
  display: inline-block;
  fill: white;
  padding: 3px;
  border-radius: 100px;

  svg {
    fill: #aaa;
    display: block;
    width: 12px;
    height: 12px;
  }
}

.freePlan {
  padding: 30px 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.freePlanContent {
  margin-bottom: 30px;
}

@media screen and (width >= 930px) {
  .freePlan {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .freePlanContent {
    flex: 1;
    margin-right: 100px;
    margin-bottom: 0;
  }
}

.freePlanTitle {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 15px;
}

.freePlanDescription {
  color: var(--light-body-color);

  a {
    color: inherit;
  }

  svg {
    fill: var(--light-body-color);
    width: 0.9em;
    height: 0.9em;
    vertical-align: middle;
  }
}

.freePlanCta {
  text-align: center;
}

.freePlanCtaReassurance {
  font-size: 13px;
  margin-top: 10px;
  color: var(--light-body-color);
}

.freePlanReminder {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  color: var(--light-body-color);

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: var(--azure-color);
    }
  }
}

.searchFeatures {
  position: relative;
  font-size: 17px;
  max-width: 400px;
  margin: 10px 0;

  input {
    display: block;
    width: 100%;
    padding: 10px;
    font-family: var(--font-sans);
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background: white;
    padding-left: 40px;
    background: var(--light-bg-color);

    &:focus {
      outline: none;
      background: white;
      border-color: var(--accent-color);
    }
  }

  > svg {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--light-body-color);
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;

    svg {
      display: block;
      fill: var(--light-body-color);
    }

    &:hover {
      opacity: 1;
    }
  }
}

.extra {
  color: var(--light-body-color);
  font-size: 13px;
  line-height: 1.1;
  display: none;

  @media (width > 700px) {
    display: block;
  }
}

.modalWrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  cursor: pointer;
  overflow: scroll;
  display: none;

  &:target {
    display: block;
  }
}

.modalOverlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.modal {
  background: white;
  padding: rfs(40px);
  border-radius: 10px;
  max-width: calc(100% - 40px);
  position: relative;
  cursor: default;
  margin: 20px auto;

  @media screen and (width >= 930px) {
    max-width: 1000px;
  }
}

.modalTitle {
  font-size: rfs(35px);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.1;
}

.fReducedHead {
  font-size: 16px;
}

.fReducedHeadTitle {
  text-align: left;
  padding: 15px 30px;
  border: 1px solid var(--border-color);
}

.fReducedHeadPlan {
  border: 1px solid var(--border-color);
  border-left: 0;
  padding: 15px 30px;
  min-width: 200px;
}

.modalWarning {
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
}

.modalWarningIcon {
  padding-right: 30px;
  svg {
    vertical-align: middle;
  }
}

.modalClose {
  position: absolute;
  right: 20px;
  top: 20px;

  svg {
    width: 1.5em;
    height: 1.5em;
    fill: var(--light-body-color);
  }
}
