.feature {
  background-color: #f6f6f6;
  border-radius: 12px;
  color: inherit;
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px 35px;
  text-decoration: none;

  &.isHighlighted {
    @media screen and (min-width: 660px) {
      grid-column: span 2;
    }
  }
}

.feature.isHighlighted {
  align-items: center;
  container-type: inline-size;
  display: grid;
  gap: 30px;
  grid-template-columns: calc(50% + 15px) auto;
  outline: 2px solid transparent;
  transition: outline 0.5s;

  .featureImage,
  .featureContent {
    grid-column: span 2;

    @container (min-width: 480px) {
      grid-column: span 1;
    }
  }

  &:hover {
    background-color: #f9f9f9;
    outline: 3px solid color-mix(in srgb, var(--accent-color) 80%, transparent);
  }
}

.featureImage {
  align-items: center;
  aspect-ratio: 16/9;
  border-radius: 4px;
  display: flex;
  height: auto;
  justify-content: center;
  margin: 0;
  position: relative;
  width: 100%;

  &:empty {
    background-color: #fff;
  }
}

.featureIcon {
  margin-bottom: 20px;
  height: 20px;
  width: auto;

  img {
    height: 100%;
    width: auto;
  }
}

.featureText {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    padding: 0;
    margin: 0;
  }
}

.featureTitle {
  margin: 0;
}

.featureLink {
  color: var(--accent-color);
  display: inline-block;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: none;
}
