.frames {
  display: grid;
  grid-gap: rfs(30px);
  grid-template-rows: 1fr;

  @media screen and (min-width: 520px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.frame {
  background: #fff;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  color: var(--extra-light-body-color);
  overflow: hidden;

  @media screen and (max-width: 520px) {
    &:nth-child(2n) {
      display: none;
    }
  }
}

.frameLabel {
  padding: 10px;
  font-size: 13px;
  font-family: var(--font-mono);
  flex-wrap: wrap;
  display: inline-flex;
}

.paramName {
  color: #204588;
}

.paramValue {
  color: var(--base-body-color);
}
