---
import { FormResultLayout } from '~/layouts/FormResultLayout';
---

<FormResultLayout type="success" kicker="Contact us">
  <p>
    We have successfully received your request, and
    <strong> you will shortly receive an automated confirmation via email</strong>. Thank you for
    your interest in DatoCMS!
  </p>
</FormResultLayout>
