---
import { FormResultLayout } from '~/layouts/FormResultLayout';
---

<FormResultLayout type="success" kicker="Contact our Sales team">
  <p>
    We have successfully received your request, and <strong
      >you will shortly receive an automated confirmation via email</strong
    >. Our Sales team will contact you soon to assist with your inquiries and provide any support
    you may need!
  </p>
</FormResultLayout>
