.form {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  overflow: hidden;
  background: var(--light-bg-color);
  max-width: 600px;
  margin: 0 auto;
}

.notice {
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
  text-align: center;
  font-size: 15px;
  margin-bottom: rfs(70px);
  border-radius: 10px;
  background: linear-gradient(45deg, #fefbe4, #fdf0eb);
  box-shadow: var(--smaller-box-shadow);
}

.error {
  margin: 0 auto;
  padding: 15px;
  max-width: 500px;
  text-align: center;
  font-size: 15px;
  margin-bottom: 40px;
  border-radius: 10px;
  background: var(--error-color);
  color: white;
  font-weight: bold;
}

.stats,
.info {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;

  strong {
    font-weight: bold;
  }
}

.info {
  color: var(--light-body-color);

  a {
    color: inherit;
  }
}
