---
import { FormResultLayout } from '~/layouts/FormResultLayout';
---

<FormResultLayout type="success" kicker="DatoCMS Community Slack Shannel">
  <Fragment slot="successTitle"><mark>Welcome</mark> on board! 🎉</Fragment>

  <p>Thanks so much for your interest in joining our Slack channel!</p>
  <p>
    We're really excited to welcome you into our community. Please keep an eye on your email for the
    invitation that we've sent your way, and don't forget to check your spam or junk folder just in
    case it gets filtered there!
  </p>
</FormResultLayout>
