.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.madeBy {
  font-size: 12px;
  margin-top: 1rem;
  transform: translateY(0.75em);
}

.filterGrid {
  display: grid;
  font-size: 16px;
  grid-gap: 30px;
  margin-bottom: 100px;
  margin-top: 80px;

  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 940px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}

.filterLabel {
  color: var(--light-body-color);
  margin-bottom: 10px;
}
