---
import { Button } from '~/components/Button';
import { Flag } from '~/components/Flag';
import { Hero } from '~/components/Hero';
import { Layout } from '~/layouts/Layout';
import { LogosBar } from '~/components/LogosBar';
import { Space } from '~/components/Space';
import { Svg } from '~/components/Svg';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { notFoundResponse, avoidAstroTypeCheckBug } from '~/lib/notFoundResponse';
import { query } from './_graphql';

const { page } = await executeQuery(Astro, query);

if (!page) {
  avoidAstroTypeCheckBug(notFoundResponse);
  return notFoundResponse();
}
---

<Layout additionalSeo={page.seo}>
  <Hero>
    <Fragment slot="kicker">How To DatoCMS</Fragment>
    <Fragment slot="title">Everything you need to <mark>master</mark> DatoCMS</Fragment>
    <Fragment slot="subtitle">
      How To DatoCMS is your central hub to find everything you need to level up your DatoCMS and
      Headless CMS knowledge
    </Fragment>
  </Hero>

  <Space top={2} bottom={3}>
    <LogosBar
      title="We power experiences for over half a billion users"
      clients={[
        'svg/logos/deutsche-telekom',
        'svg/logos/hashicorp',
        'svg/logos/verizon',
        'svg/logos/polestar',
        'svg/logos/vercel',
      ]}
    />
  </Space>

  <Flag style="good">
    <Fragment slot="visual">
      <Svg name="svg/illustrations/video-player" />
    </Fragment>
    <Fragment slot="title">
      DatoCMS <mark>Case Studies</mark>
    </Fragment>
    <p>
      Casual and non-technical walkthroughs of DatoCMS focusing on content creation and the UI, made
      for content creators and editors.
    </p>
    <Space top={1}>
      <Button as="a" href="/user-guides" p="small">Launch User Guides</Button>
    </Space>
  </Flag>

  <Flag style="good" flip>
    <Fragment slot="visual">
      <Svg name="svg/illustrations/zen" />
    </Fragment>
    <Fragment slot="title">
      DatoCMS <mark>Academy</mark>
    </Fragment>
    <p>Deep dive into the concepts around Headless CMS, Content APIs, and frontend frameworks.</p>
    <Space top={1}>
      <Button as="a" href="/academy" p="small">Launch Academy</Button>
    </Space>
  </Flag>

  <Flag style="good">
    <Fragment slot="visual">
      <Svg name="svg/illustrations/muscles" />
    </Fragment>
    <Fragment slot="title">
      Developer <mark>Docs</mark>
    </Fragment>
    <p>All the technical documentation on our REST and GraphQL APIs for managing your projects.</p>
    <Space top={1}>
      <Button as="a" href="/docs" p="small">Launch Docs</Button>
    </Space>
  </Flag>
</Layout>
