.grid {
  display: grid;
  gap: rfs(40px) rfs(30px);
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.post {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  color: inherit;
  display: block;
  grid-template-rows: subgrid;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}

.postBody {
  display: grid;
  grid-row: span 2;
  grid-template-rows: subgrid;
  padding: rfs(25px) rfs(30px);
}

.coverImage {
  position: relative;
  aspect-ratio: 16 / 9;
}

.postText {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .title {
    font-weight: bold;
    font-size: rfs(25px);
    letter-spacing: -0.04em;
  }

  .excerpt {
    font-size: 15px;
    line-height: 1.3;

    strong {
      font-weight: bold;
    }
  }
}

.footer {
  color: var(--light-body-color);
  font-size: 15px;
  margin-top: 20px;

  .info {
    color: var(--light-body-color);
    font-size: 0.875em;
    display: flex;
    align-items: center;
    gap: 10px;

    .avatarWrapper {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .avatar {
      border-radius: 50%;
      border: 2px solid #fff;
      flex-shrink: 0;
      height: 44px;
      margin-left: -6px;
      min-width: 44px;
      overflow: hidden;
      width: 44px;
    }
  }
}
