.field,
.group {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  background: white;
  --paddingTop: 50px;

  label,
  .error {
    position: absolute;
    line-height: 1;
    display: block;
  }

  label {
    top: 25px;
    left: 33px;
    color: var(--light-body-color);
    font-weight: bold;
    font-size: 15px;
    padding-right: 80px;
    pointer-events: none;
  }

  .error {
    font-size: 12px;
    right: 29px;
    left: auto;
    top: 22px;
    text-align: right;
    background: var(--accent-color);
    padding: 3px 5px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
  }

  &:hover .error {
    opacity: 0.3;
  }
}

.group {
  padding: 25px;

  label {
    padding-bottom: 15px;
  }
}

.submit {
  padding: 20px 29px;

  @media (width > 900px) {
    display: flex;
    align-items: center;
  }
}

.anchor {
  position: relative;
  top: -80px;
}

.agree {
  flex: 1;
  font-size: 13px;
  color: var(--light-body-color);

  @media (width <= 900px) {
    margin-bottom: 15px;
  }

  @media (width > 900px) {
    margin-right: 50px;
    margin-bottom: 0;
  }

  a {
    color: inherit;
  }
}

.required {
  color: var(--accent-color);
}
