@media (width >= 1300px) {
  .toc {
    display: block;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .tocInner {
    padding-bottom: 40px;
  }
}

@media (width > 1600px) {
  .emptySidebar {
    padding-top: 58px;
    padding-left: 64px;
    width: 330px;
  }
}

@media (width < 1300px) {
  .toc {
    padding: 30px var(--page-margin);
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 50px;
  }
}

.tocTitle {
  color: var(--light-body-color);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  margin: 30px 0 10px;
}

.tocEntry {
  display: block;
  color: var(--light-body-color);
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 0.9em;

  code {
    font-size: 0.85em;
    font-family: var(--font-mono);
  }

  &:hover {
    text-decoration: underline;
    color: var(--base-body-color);
  }
}

.badge {
  padding: 2px 4px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: var(--light-bg-color);
  font-size: 0.7em;
  font-weight: bold;
}
