.action {
  margin-top: 20px;
}

.contentWrapper {
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr;
  margin: 80px 0;

  @media screen and (min-width: 960px) {
    gap: rfs(160px);
    grid-template-columns: 1fr rfs(340px);
  }
}

.blockTitle {
  color: var(--light-body-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
