.action {
  margin-top: 20px;
}

.mainVisual {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin-top: rfs(40px);
  overflow: hidden;
}

.blockTitle {
  color: var(--light-body-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contentWrapper {
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr;
  margin: 80px 0;

  @media screen and (min-width: 960px) {
    gap: rfs(160px);
    grid-template-columns: 1fr rfs(420px);
  }
}

.content {
  .gallery {
    display: flex;
    flex-direction: column;
    gap: rfs(40px);
  }

  .shot {
    box-shadow: var(--smaller-box-shadow);
    border-radius: 5px;
    overflow: hidden;
  }

  .shotTitle {
    font-size: 16px;
    color: var(--light-body-color);
    margin: 1em 0;
  }
}

.aside {
  @media screen and (min-width: 640px) {
    column-gap: rfs(40px);
    columns: 2;
  }

  @media screen and (min-width: 960px) {
    columns: 1;
  }
}

.madeByLogo {
  height: auto;
  margin-bottom: 10px;
  max-width: 320px;
  width: 80%;
}

.tag {
  background: var(--light-bg-color);
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 2px 8px;
}
