.docCallout {
  padding: rfs(30px);
  border-radius: 5px;
  font-family: var(--font-sans);
  line-height: 1.4;
}

.docCallout--neutral,
.docCallout--protip {
  background: #f4f5ff;

  .docCalloutTitle {
    color: #1e64f0;

    svg {
      fill: #1e64f0;
    }
  }
}

.docCallout--positive {
  background: #cbffea;

  .docCalloutTitle {
    color: #00664c;

    svg {
      fill: #00664c;
    }
  }
}

.docCallout--warning {
  background: #fffbd1;

  .docCalloutTitle {
    color: #b3701b;

    svg {
      fill: #b3701b;
    }
  }
}

.docCalloutTitle {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 13px;
  display: flex;
  line-height: 1.1;

  span {
    flex: 1;
    margin-left: 10px;
  }
}

.content {
  font-size: 0.9em;
  line-height: 1.4;
}
