.root {
  display: flex;
  flex-direction: column;
  font-size: rfs(18px);
  gap: rfs(20px);
  list-style-type: none;
  margin-top: rfs(20px);
  padding: 0;

  &[data-style='good'] {
    a:hover {
      color: var(--azure-color);
    }
    svg {
      color: var(--azure-color);
    }
  }

  &[data-style='bad'] {
    a:hover {
      color: var(--accent-color);
    }
    svg {
      color: var(--accent-color);
    }
  }

  &.isLarge {
    font-size: rfs(21px);
  }

  li {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    margin: 0;

    @media screen and (width > 800px) {
      align-items: flex-start;
      flex-direction: row;
      gap: 8px;
      justify-content: flex-start;
      text-align: left;
    }

    svg {
      align-items: center;
      display: inline-flex;
      flex-shrink: 0;
      height: 1.4em;
      width: 20px;
    }

    p {
      max-width: 520px;
      width: 100%;
    }
  }
}
