.button {
  background: white;
  color: var(--light-body-color);
  border: 1px solid var(--border-color);
  margin-top: 10px;
  padding: 5px 13px;
  font-family: var(--font-sans);
  border-radius: 3px;
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 0.95em;
  gap: 0.5em;

  &:before {
    content: '';
    background: svg-load('icons/regular/plus.svg', fill=#999) no-repeat;
    width: 1em;
    height: 1em;
  }

  &[aria-expanded='true']:before {
    background: svg-load('icons/regular/minus.svg', fill=#999) no-repeat;
  }

  &:hover {
    color: var(--base-body-color);
  }
}

.content {
  display: none;

  &[data-open] {
    display: contents;
  }
}
