---
import s from './style.module.css';

type Props = {
  columns?: number;
  title?: string;
};

const { columns = 1, title } = Astro.props;
---

<div data-col={columns} class={s.group}>
  {title && <h3 class={s.groupTitle}>{title}</h3>}
  <slot />
</div>
