---
import s from './style.module.css';

type Props = {
  text: string;
  link: string;
};

const { link, text } = Astro.props;
---

<a href={link} class={s.groupLink}>
  <span>{text}</span>
  <span>→</span>
</a>
