---
import s from './style.module.css';

type Props = {
  orientation?: 'vertical' | 'horizontal';
};

const { orientation = 'vertical' } = Astro.props;
---

<div data-orientation={orientation} class={s.panelHighlight}>
  <slot />
</div>
