.thumbsButton {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background: white;
  padding: 8px 15px 5px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  position: relative;

  input {
    margin: 0;
    position: absolute;
    inset: 0;
    appearance: none;
    outline: none;
    z-index: 1;
  }

  svg {
    margin-right: 5px;
    width: 1em;
  }

  &:hover {
    border-color: var(--accent-color);
  }

  &:has(input:checked) {
    border-color: var(--accent-color);
    outline: 1px solid var(--accent-color);
  }
}

.deets {
  display: none;
  font-size: 14px;
  margin-top: 20px;

  input,
  textarea {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: inherit;
    font-family: inherit;
    padding: 10px;
    outline: none;
    appearance: none;

    &:focus {
      border-color: var(--accent-color);
    }
  }
}

.form:has(input:checked) .deets {
  display: block;
}

.field {
  margin-bottom: 20px;

  [data-error] {
    color: red;
    margin-top: 5px;
  }
}

.label {
  display: flex;
  line-height: 1.1;
  margin-bottom: 5px;
}

.labelName {
  font-weight: bold;
  flex: 1;
  margin-right: 15px;
}

.labelInfo {
  margin-bottom: 10px;
  color: var(--light-body-color);

  a {
    color: inherit;
  }
}
