.handle {
  display: inline-flex;
  white-space: nowrap;
  padding: 10px;
  appearance: none;
  border: 0;
  background: none;
  cursor: pointer;
  font-family: var(--font-sans);
  border-bottom: 3px solid transparent;
  margin-right: 2px;

  &:hover {
    border-bottom-color: var(--border-color);
  }

  &[aria-selected='true'] {
    border-bottom-color: var(--accent-color);
    font-weight: bold;
  }

  &.code {
    font-family: var(--font-mono);
  }

  h6 {
    font-size: inherit;
    font-weight: inherit;
    font-size: 16px;
  }
}

.content {
  padding: 30px;
  background: var(--light-bg-color);
  border-radius: 0 0 5px 5px;
}

.noPaddingContent {
  padding-top: 10px;
}
