.handle {
  display: inline-flex;
  white-space: nowrap;
  padding: 10px 20px;
  appearance: none;
  border: 0;
  background: none;
  cursor: pointer;
  font-family: var(--font-sans);
  font-size: 16px;
  border-bottom: 3px solid transparent;

  &[aria-selected='true'] {
    border-bottom-color: var(--accent-color);
    font-weight: bold;
  }

  &.code {
    font-family: var(--font-mono);
  }
}

.content {
  padding: 30px;
  background: var(--light-bg-color);
  border-radius: 0 0 5px 5px;
}
