---
import s from './style.module.css';

export interface Props {
  title: string;
}

const { title = 'title' } = Astro.props;
---

<button slot="tab" class={s.handle}>
  {title}
</button>

<div slot="panel" class={s.content}>
  <slot />
</div>
