---
import s from './style.module.css';

export interface Props {
  title: string;
  code?: boolean;
  noPadding?: boolean;
}

const { title = 'title', code, noPadding } = Astro.props;
---

<button slot="tab" class:list={[s.handle, code ? s.code : undefined]}>
  {title}
</button>

<div slot="panel" class={noPadding ? undefined : s.content}>
  <slot />
</div>
