---
import s from './style.module.css';

export interface Props {
  title: string;
  code?: boolean;
  noPadding?: boolean;
}

const { title = 'title', code, noPadding } = Astro.props;
---

<button slot="tab" role="tab" class:list={[s.handle, code ? s.code : undefined]}>
  <prose-island>
    <h6>
      {code ? <code>{title}</code> : <span>{title}</span>}
    </h6>
  </prose-island>
</button>

<div slot="panel" role="tabpanel" class={noPadding ? s.noPaddingContent : s.content}>
  <slot />
</div>
