---
import s from './_style.module.css';

type Props = {
  title: string;
};
---

<div class={s.study}>
  <div class={s.studyTitle}>{Astro.props.title}</div>
  <div class={s.studyContent}><slot /></div>
</div>
