---
import { Hero } from '~/components/Hero';
import { Layout } from '~/layouts/Layout';
import { LegalProse } from '~/components/LegalProse';
import policy from '~/documents/cookie-policy.json';
---

<Layout additionalSeo={[]}>
  <Fragment slot="head">
    <title>Cookie Policy</title>
  </Fragment>
  <Hero>
    <Fragment slot="kicker">Legal</Fragment>
    <Fragment slot="title"><mark>Cookie Policy</mark></Fragment>
  </Hero>
  <LegalProse>
    <Fragment set:html={policy.content} />
  </LegalProse>
</Layout>
