---
import { Markdown } from '~/components/Markdown';
import { Hero } from '~/components/Hero';
import { Layout } from '~/layouts/Layout';
import { LegalProse } from '~/components/LegalProse';
import { rawContent } from '~/documents/gdpr.md';
---

<Layout seo={[]}>
  <Fragment slot="head">
    <title>GDPR Compliance</title>
  </Fragment>
  <Hero>
    <Fragment slot="kicker">Legal</Fragment>
    <Fragment slot="title"><mark>GDPR Compliance</mark></Fragment>
  </Hero>
  <LegalProse>
    <Markdown of={rawContent()} />
  </LegalProse>
</Layout>
