---
import { Hero } from '~/components/Hero';
import { Layout } from '~/layouts/Layout';
import { LegalProse } from '~/components/LegalProse';
---

<Layout seo={[]}>
  <Fragment slot="head">
    <title>Policies</title>
  </Fragment>
  <Hero>
    <Fragment slot="kicker">Legal</Fragment>
    <Fragment slot="title"><mark>Policies</mark></Fragment>
  </Hero>
  <LegalProse>
    <h3>The following pages cover our security and policies:</h3>
    <ul>
      <li>
        <strong><a href="/legal/cookie-policy" rel="noopener noreferrer"> Cookie Policy</a></strong
        >:
        <span>Understand our use of cookies and tracking.</span>
      </li>
      <li>
        <strong><a href="/legal/gdpr" rel="noopener noreferrer"> GDPR Compliance</a></strong>:
        <span>Information on how we handle personally identifiable data.</span>
      </li>
      <li>
        <strong><a href="/legal/privacy-policy" rel="noopener noreferrer">Privacy Policy</a></strong
        >:
        <span>How we collect and process your data.</span>
      </li>
      <li>
        <strong><a href="/security" rel="noopener noreferrer"> Security</a></strong>:
        <span>Our internal security policies.</span>
      </li>
      <li>
        <strong><a href="/legal/terms" rel="noopener noreferrer"> Terms of Service</a></strong>:
        <span>The terms and conditions for using DatoCMS.</span>
      </li>
    </ul>
  </LegalProse>
</Layout>
