---
import { Markdown } from '~/components/Markdown';
import { Hero } from '~/components/Hero';
import { Layout } from '~/layouts/Layout';
import { LegalProse } from '~/components/LegalProse';
import { Content } from '~/documents/terms.md';
---

<Layout additionalSeo={[]}>
  <Fragment slot="head">
    <title>Terms of Service</title>
  </Fragment>
  <Hero>
    <Fragment slot="kicker">Legal</Fragment>
    <Fragment slot="title"><mark>Terms of Service</mark></Fragment>
  </Hero>

  <LegalProse>
    <Content />
  </LegalProse>
</Layout>
