.root {
  padding: rfs(100px) 0 0;
  position: relative;

  &:before {
    background: linear-gradient(45deg, #e9fcff 30%, #fdf2ed 60%);
    clip-path: var(--clip-path);
    content: '';
    height: 70%;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: -1;
  }
}

.title {
  font-family: var(--font-headline);
  font-size: rfs(60px);
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1;
  margin: rfs(40px) auto;
  text-align: center;

  @media (width > 800px) {
    max-width: 70%;
  }
}

.kicker {
  color: var(--light-body-color);
  font-size: rfs(20px);
  font-weight: bold;
  margin: 40px auto 20px;
  max-width: 700px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-weight: normal;
  line-height: 1.3;
  margin: 20px auto 0;
  max-width: 800px;
  text-align: center;

  a {
    color: inherit;
  }
}

.body {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: rfs(40px);
}
