.select {
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  position: relative;

  select,
  &::after {
    grid-area: select;
  }

  select {
    /* A reset of styles, including removing the default dropdown arrow */
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 8px 15px;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    /* Stack above custom arrow */
    z-index: 1;

    /* Remove dropdown arrow in IE10 & IE11 */
    /* @link https:/*www.filamentgroup.com/lab/select-css.html */
    &::-ms-expand {
      display: none;
    }

    /* Remove focus outline, will add on alternate element */
    outline: none;
  }

  /* Interim solution until :focus-within has better support */
  select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--accent-color);
    border-radius: inherit;
  }

  min-width: 15ch;
  max-width: 30ch;

  border: 1px solid var(--border-color);
  border-radius: 0.25em;

  cursor: pointer;
  line-height: 1.1;

  /* Optional styles */
  /* remove for transparency */
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

  /* Custom arrow */
  &::after {
    content: '';
    justify-self: end;
    width: 0.5em;
    height: 0.3em;
    background-color: var(--light-body-color);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    pointer-events: none;
    margin-right: 15px;
  }
}
