.submit {
  padding: 20px 29px;

  @media (width > 900px) {
    display: flex;
    align-items: center;
  }
}

.agree {
  flex: 1;
  font-size: 13px;
  color: var(--light-body-color);

  @media (width <= 900px) {
    margin-bottom: 15px;
  }

  @media (width > 900px) {
    margin-right: 50px;
    margin-bottom: 0;
  }

  a {
    color: inherit;
  }
}
