.carouselViewport {
  display: flex;
  justify-content: stretch;
  padding-bottom: 40px;
  padding-top: 30px;
}

.card {
  display: flex;
  flex-shrink: 0;
  justify-content: stretch;
  width: 240px;
}
