---
import { ReactUiLiveExampleFragment } from './graphql';
import type { FragmentOf } from 'gql.tada';
import { readFragment } from 'gql.tada';
import { fetchReactUiExamples } from './utils';
import { Code } from '~/components/Code';

interface Props {
  block: FragmentOf<typeof ReactUiLiveExampleFragment>;
}

const { block } = Astro.props;

const examples = await fetchReactUiExamples();

const { componentName } = readFragment(ReactUiLiveExampleFragment, block);

const componentExamples = examples.filter((example) => example.componentName === componentName);
---

{
  componentExamples.map((example) => {
    // TODO: Maybe we can show the actual result?

    return (
      <Fragment>
        <h2>{example.title}</h2>
        {example.description}

        <Code language="js" code={example.code} />
      </Fragment>
    );
  })
}
