---
import { Markdown } from '~/components/Markdown';
import { Hero } from '~/components/Hero';
import { Layout } from '~/layouts/Layout';
import { LegalProse } from '~/components/LegalProse';
import { resolve, dirname } from 'node:path';
import { fileURLToPath } from 'url';
import { readFile } from 'node:fs/promises';

const __filename = fileURLToPath(import.meta.url);
const __dirname = dirname(__filename);
const body = await readFile(resolve(__dirname, '../../../documents/security.md'), 'utf8');
---

<Layout additionalSeo={[]}>
  <Fragment slot="head">
    <title>DatoCMS Security</title>
  </Fragment>
  <Hero>
    <Fragment slot="kicker">Legal</Fragment>
    <Fragment slot="title"><mark>DatoCMS Security</mark></Fragment>
  </Hero>
  <LegalProse>
    <Markdown of={body} />
  </LegalProse>
</Layout>
