.groupTitle {
  display: block;
  font-family: var(--font-headline);
  font-size: rfs(64px);
  font-weight: bold;
  letter-spacing: -0.01em;
  line-height: 1.1;
  margin: 0;
  text-align: center;
  text-wrap: balance;
}

.fakeLink {
  color: var(--accent-color);
  font-weight: 600;
}
