@keyframes cambio {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(min(450px, 90vw) * -1 * var(--items-count)));
  }
}

.quotes {
  overflow: hidden;

  &.isAnimated {
    justify-content: start;

    .quotesInner {
      animation: cambio calc(10s * var(--items-count)) linear infinite reverse;

      @media screen and (width > 900px) {
        animation: cambio calc(10s * var(--items-count)) linear infinite reverse;
      }

      &:hover {
        animation-play-state: paused;
      }
    }
  }
}

.quotes:not(.isAnimated) {
  display: flex;
  justify-content: center;

  .root:nth-child(n + 2) {
    display: none;
  }

  @media screen and (width > 900px) {
    .root:nth-child(2) {
      display: block;
    }
  }

  @media screen and (width > 1350px) {
    .root:nth-child(3) {
      display: block;
    }
  }

  @media screen and (width > 1800px) {
    .root:nth-child(4) {
      display: block;
    }
  }
}

.quotesInner {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  position: relative;
}
