.layout {
  @media (min-width: 901px) {
    display: grid;
    grid-gap: rfs(80px);
    grid-template-columns: 1fr 1.4fr;
    align-items: center;
  }
}

.illustration {
  @media (max-width: 900px) {
    max-width: 200px;
    margin: 0 auto 40px;
  }
}

.chapters {
  list-style-type: none;
  padding: 0;
  margin: 0;
  counter-reset: chapter;
}

.chapter {
  display: flex;
  align-items: baseline;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);

  &:first-child {
    border-top: 1px solid var(--border-color);
  }
}

.chapterNumber {
  color: var(--light-body-color);
  font-size: 15px;
  font-weight: bold;
  font-variant-numeric: tabular-nums;
}

.chapterLink {
  font-size: rfs(28px);
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.03em;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--light-body-color);
  }
}
