@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6%);
  }
  100% {
    transform: translateY(0);
  }
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: rfs(80px);
  justify-content: center;
  padding: rfs(120px) 0 rfs(80px) 0;
  text-align: center;

  @media screen and (min-width: 1000px) {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 40px;
    text-align: left;
  }
}

.heroTitle {
  font-family: var(--font-headline);
  font-size: rfs(70px);
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1.1;
  margin: 0 0 rfs(40px) 0;
}

.heroSubtitle {
  margin-bottom: rfs(20px);
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;

  @media screen and (min-width: 1000px) {
    justify-content: flex-start;
  }
}

.heroImageWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 600px;
  padding-bottom: 5%;
  position: relative;
  transition: transform 0.2s;

  @media screen and (min-width: 1320px) {
    max-width: 800px;
    transform-origin: left center;
    transform: scale(1.05);
  }

  @media screen and (min-width: 1440px) {
    transform: scale(1.1);
  }

  &:hover {
    .heroImage:nth-child(1) {
      transform: perspective(600px) rotateY(20deg) translateY(-5px);
    }

    .heroImage:nth-child(2) {
      transform: perspective(600px) rotateY(-20deg) translateY(5px);
    }
  }

  .heroImage {
    box-shadow: var(--box-shadow);
    border-radius: 2px;
    height: auto;
    transition: transform 0.5s;

    &:nth-child(1) {
      margin-left: -40%;
      margin-top: -12%;
      position: absolute;
      transform: perspective(600px) rotateY(20deg);
      width: 55%;
    }

    &:nth-child(2) {
      margin-left: 30%;
      margin-top: 12%;
      transform: perspective(600px) rotateY(-20deg);
      width: 65%;
    }
  }
}

.starter {
  display: grid;
  flex-direction: column;
  gap: rfs(60px);
  grid-template-columns: 1fr;
  position: relative;

  @media screen and (min-width: 960px) {
    align-items: center;
    grid-template-columns: 4fr 5fr;
  }
}

.starterVisual {
  aspect-ratio: 16/9;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  flex: 1;
  overflow: hidden;
}

.starterBody {
  flex: 1;

  h2 {
    font-family: var(--font-headline);
    font-size: rfs(60px);
    line-height: 1.1;
    margin-bottom: 0.5em;
  }
}

.baloons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px;

  @media screen and (min-width: 800px) {
    flex-direction: row;
    margin-bottom: 0px;
  }

  .editor,
  .dev {
    color: var(--light-body-color);
    padding-top: 40px;
    position: relative;
    text-align: center;
    transition: color 0.4s;
    width: 66%;

    @media screen and (min-width: 800px) {
      max-width: 400px;
    }

    svg {
      fill: var(--light-body-color);
    }

    &:hover {
      color: var(--text-color);

      svg {
        transform: translateY(6px);
        fill: var(--text-color);
      }
    }

    p {
      margin: 0;
    }

    a {
      color: inherit;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .editor {
    margin-left: 33%;
    transform: rotate(8deg);

    @media screen and (min-width: 800px) {
      margin-left: 0;
    }
  }

  .dev {
    transform: rotate(-8deg);
  }

  svg {
    color: var(--light-body-color);
    height: rfs(80px);
    margin-top: 15px;
    min-height: 60px;
    transform: translateY(0);
    transition:
      fill 0.4s,
      transform 0.4s;
    width: auto;

    @media screen and (min-width: 800px) {
      margin-left: 0;
    }
  }
}

.niceBlock {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  max-width: 100%;
  width: var(--page-width-with-margin);

  &:hover {
    & > * {
      color: var(--text-color);
      color: var(--text-color);
    }
  }

  @media screen and (min-width: 800px) {
    flex-direction: row;
    gap: rfs(60px);
    padding: 0 calc(var(--page-margin) * 2);
    text-align: left;
  }
}

.blockIllustration {
  animation: float 6s ease-in-out infinite;
  flex-shrink: 0;
  height: auto;
  transform-style: preserve-3d;
  transition: fill 0.5s;
  width: rfs(200px);
  min-width: 120px;
  will-change: transform;
}

.blockText {
  transition: color 0.5s;

  h2 {
    font-size: rfs(28px);
  }
}

.featuresWrapper {
  width: 100%;
}

.feature {
  align-items: center;
  display: grid;
  gap: rfs(60px);
  width: 100%;

  @media screen and (min-width: 768px) {
    grid-template-columns: 5fr 4fr;
  }
}

.featureIntro {
  article {
    h3 {
      font-family: var(--font-headline);
      font-size: rfs(60px);
      line-height: 1.1;
      margin-bottom: 0.5em;
    }
  }

  .visual {
    aspect-ratio: 16/9;
    background-color: #fff;
    border-radius: 6px;
    border: #ddd;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}

.featureList {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}

.featureListItem {
  color: inherit;
  display: grid;
  font-size: rfs(16px);
  grid-template-columns: 1fr;
  line-height: 1.3;
  padding: 30px;
  text-decoration: none;

  @media (width > 900px) {
    padding: 40px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
}

.featureListText {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-underline-offset: 0.2em;
  }

  .featureTitle {
    margin: 0;
  }
}

.successStory {
  display: grid;
  flex-direction: column;
  gap: rfs(60px);
  grid-template-columns: 1fr;
  position: relative;

  @media screen and (min-width: 960px) {
    align-items: center;
    grid-template-columns: 4fr 5fr;
  }
}

.successStoryBody {
  h2 {
    font-family: var(--font-headline);
    font-size: rfs(60px);
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0.75em;

    code {
      display: block;
    }
  }

  mark {
    font-weight: 600;
    background: none;
  }
}

.successStoryImageWrapper {
  aspect-ratio: 16/9;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}
