.root {
  font-weight: bold;
  display: inline-flex;
  gap: 5px;
  text-decoration: none;
  background: var(--light-bg-color);
  padding: 0 5px;
  align-items: center;
  border-radius: 3px;
  text-wrap: nowrap;

  img {
    border-radius: 3px;
    height: 0.9em;
  }
}
