---
import { TechPartnerInlineFragment } from './graphql';
import { readFragment, type FragmentOf } from 'gql.tada';
import { buildUrlForTechPartner } from '~/lib/datocms/gqlUrlBuilder/techPartner';

interface Props {
  record: FragmentOf<typeof TechPartnerInlineFragment>;
}

const { record } = Astro.props;

const unmaskedRecord = readFragment(TechPartnerInlineFragment, record);
---

<a href={buildUrlForTechPartner(unmaskedRecord)} data-datocms-content-link-boundary>
  {unmaskedRecord.name}
</a>
