---
import { Hero } from '~/components/Hero';
import { Prose } from '~/components/Prose';
import { Wrapper } from '~/components/Wrapper';
import { Layout } from '~/layouts/Layout';
import s from './_style.module.css';
---

<Layout additionalSeo={[]} noFinalCta>
  <Fragment slot="head">
    <title>Error</title>
  </Fragment>

  <Wrapper>
    <Hero>
      <Fragment slot="kicker">Contact our Sales team</Fragment>
      <Fragment slot="title"><mark>Ouch!</mark> An error occurred...</Fragment>
    </Hero>
    <Prose class={s.result}>
      <p>
        We sincerely apologize, but it appears <strong
          >there was an error while submitting the form</strong
        >. We will try to resolve this issue as soon as possible.
      </p>
      <p>
        As an alternative, please send a direct email to <strong
          ><a href="mailto:support@datocms.com">support@datocms.com</a></strong
        > to reach out to us!
      </p>
    </Prose>
  </Wrapper>
</Layout>
