---
import { FormResultLayout } from '~/layouts/FormResultLayout';

const GADS_CONVERSION = 'AW-11079629404/Ozd_CKeAqrAcENz0lqMp';
---

<FormResultLayout type="success" kicker="Contact our Sales team">
  <script is:inline define:vars={{ GADS_CONVERSION }}>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('event', 'conversion', { send_to: GADS_CONVERSION });
  </script>
  <p>
    We have successfully received your request, and <strong
      >you will shortly receive an automated confirmation via email</strong
    >. Our Sales team will contact you soon to assist with your inquiries and provide any support
    you may need!
  </p>
</FormResultLayout>
