---
import { Hero } from '~/components/Hero';
import { Prose } from '~/components/Prose';
import { Wrapper } from '~/components/Wrapper';
import { Layout } from '~/layouts/Layout';
import s from './_style.module.css';
---

<Layout additionalSeo={[]} noFinalCta>
  <Fragment slot="head">
    <title>Success!</title>
  </Fragment>

  <Wrapper>
    <Hero>
      <Fragment slot="kicker">Contact our Sales team</Fragment>
      <Fragment slot="title"><mark>Thank you</mark> for reaching out!</Fragment>
    </Hero>
    <Prose class={s.result}>
      <p>
        We have successfully received your request, and <strong
          >you will shortly receive an automated confirmation via email</strong
        >. Our sales team will contact
      </p>you soon to assist with your inquiries and provide any support you may need!
    </Prose>
  </Wrapper>
</Layout>
