---
import { StructuredText } from '@datocms/astro';
import NoParagraph from './NoParagraph.astro';
import type { CdaStructuredTextRecord, StructuredTextPropTypes } from 'react-datocms';

type Props = {
  data: StructuredTextPropTypes<CdaStructuredTextRecord, CdaStructuredTextRecord>['data'];
};

const { data } = Astro.props;
---

<span data-datocms-content-link-group>
  <StructuredText data={data} nodeOverrides={{ paragraph: NoParagraph }} />
</span>
