---
import { StructuredText } from '@datocms/astro';
import NoParagraph from './NoParagraph.astro';
import type { StructuredTextGraphQlResponseRecord, StructuredTextPropTypes } from 'react-datocms';

type Props = {
  data: StructuredTextPropTypes<
    StructuredTextGraphQlResponseRecord,
    StructuredTextGraphQlResponseRecord
  >['data'];
};

const { data } = Astro.props;
---

<span data-datocms-edit-group>
  <StructuredText data={data} nodeOverrides={{ paragraph: NoParagraph }} />
</span>
