.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: rfs(40px);
}

.wrapper {
  position: relative;
  text-decoration: none;

  .root[data-size='big'] & {
    padding-top: rfs(60px);
  }

  .root[data-size='medium'] &,
  .root[data-size='small'] & {
    padding-top: rfs(40px);
  }

  &:before {
    color: var(--accent-color);
    content: '\201C';
    font-family: var(--font-serif);
    left: 50%;
    line-height: 0.3;
    position: absolute;
    top: 0;
    transform: translateX(-50%);

    .root[data-size='big'] & {
      font-size: rfs(240px);
    }

    .root[data-size='medium'] & {
      font-size: rfs(150px);
    }

    .root[data-size='small'] & {
      font-size: rfs(130px);
    }
  }
}

.quoteInner {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  position: relative;
}

.quote {
  font-family: var(--font-serif);
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin-bottom: 40px;
  text-align: center;

  .root[data-size='big'] & {
    font-size: rfs(40px);
    max-width: 800px;
  }

  .root[data-size='medium'] & {
    font-size: rfs(30px);
    /* width: min(450px, 90vw); */
  }

  .root[data-size='small'] & {
    font-size: 24px;
    /* width: min(450px, 90vw); */
  }

  &:before {
    content: '\201C';
  }

  &:after {
    content: '\201D';
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.image {
  border-radius: 400px;
  margin-right: 20px;
  overflow: hidden;

  .root[data-size='big'] & {
    width: rfs(130px);
  }

  .root[data-size='medium'] & {
    width: 100px;
  }

  .root[data-size='small'] & {
    width: 70px;
  }
}

.authorRole {
  color: inherit;
  max-width: 260px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 3px;

  .root[data-size='big'] & {
    font-size: rfs(1.275em);
  }

  .root[data-size='medium'] & {
    font-size: rfs(1em);
  }

  .root[data-size='small'] & {
    font-size: 0.875em;
  }
}

a.authorRole:hover .name {
  text-decoration: underline;
}

.name {
  font-weight: bold;
  margin-bottom: 0.125em;
}

.role {
  color: var(--light-body-color);
}

.company {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--light-body-color);
  font-size: 0.875em;
}
