.result {
  padding: rfs(50px);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  max-width: 700px;
  margin: 0 calc(var(--page-margin) * -0.5);
  font-size: rfs(18px);
  line-height: 1.4;

  @media (width > 900px) {
    line-height: 1.6;
    margin: 0 auto;
  }
}
