---
import { FormResultLayout } from '~/layouts/FormResultLayout';
---

<FormResultLayout type="success" kicker="Support page">
  <p>
    We have successfully received your request, and <strong
      >you will shortly receive an automated confirmation via email</strong
    >.
  </p>
  <p>
    We really try our best to take great care of our customers. Our support team will be in touch
    shortly!
  </p>
  <p>
    In the meantime you can perhaps look for answers in the{' '}
    <a href="/docs">documentation</a>, or in our awesome
    <a href="https://community.datocms.com">DatoCMS Community forum</a>?
  </p>
</FormResultLayout>
