---
import { Hero } from '~/components/Hero';
import { Prose } from '~/components/Prose';
import { Wrapper } from '~/components/Wrapper';
import { Layout } from '~/layouts/Layout';
import s from './_style.module.css';
---

<Layout additionalSeo={[]} noFinalCta>
  <Fragment slot="head">
    <title>Success!</title>
  </Fragment>

  <Wrapper>
    <Hero>
      <Fragment slot="kicker">Support page</Fragment>
      <Fragment slot="title"><mark>Thank you</mark> for reaching out!</Fragment>
    </Hero>
    <Prose class={s.result}>
      <p>
        We have successfully received your request, and <strong
          >you will shortly receive an automated confirmation via email</strong
        >.
      </p>
      <p>
        We really try our best to take great care of our customers. Our support team will be in
        touch shortly!
      </p>
      In the meantime you can perhaps look for answers in the{' '}
      <a href="/docs">documentation</a>, or in our awesome
      <a href="https://community.datocms.com">DatoCMS Community forum</a>?
    </Prose>
  </Wrapper>
</Layout>
