.category {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  margin-top: 80px;
  position: relative;
}

.categoryIntro {
  max-width: var(--page-width-with-margin);
  padding: 0 var(--page-margin);
  width: 100%;

  .intro {
    @media screen and (min-width: 520px) {
      width: calc(100% - 120px);
    }
  }
}

.header {
  border-bottom: 1px solid var(--light-body-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  margin-bottom: rfs(35px);
  padding-bottom: rfs(25px);
  width: 100%;

  @media screen and (min-width: 640px) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.headerTitle {
  font-size: rfs(64px);
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1;
  margin: 0;
}
