---
import s from './style.module.css';

type Props = {
  top?: 1 | 2 | 3 | 4;
  bottom?: 1 | 2 | 3 | 4;
  id?: string;
};

const { top, bottom, id } = Astro.props;

const mt = [null, 'mt1', 'mt2', 'mt3', 'mt4'];
const mb = [null, 'mb1', 'mb2', 'mb3', 'mb4'];
---

<div class:list={[top && s[mt[top]!], bottom && s[mb[bottom]!]]} id={id}><slot /></div>
