:root {
  /* Shared spacing scale */
  --margin-1: rfs(50px);
  --margin-2: rfs(100px);
  --margin-3: rfs(150px);
  --margin-4: rfs(200px);
}

.mt1 {
  margin-top: var(--margin-1);
  scroll-margin-top: var(
    --margin-1
  ); /* So that anchor links don't get obscured by the sticky header */
}
.mt2 {
  margin-top: var(--margin-2);
  scroll-margin-top: var(--margin-2);
}
.mt3 {
  margin-top: var(--margin-3);
  scroll-margin-top: var(--margin-3);
}
.mt4 {
  margin-top: var(--margin-4);
  scroll-margin-top: var(--margin-4);
}

.mb1 {
  margin-bottom: var(--margin-1);
}
.mb2 {
  margin-bottom: var(--margin-2);
}
.mb3 {
  margin-bottom: var(--margin-3);
}
.mb4 {
  margin-bottom: var(--margin-4);
}
