---
import { RecipeLinkFragment } from './graphql';
import { readFragment, type FragmentOf } from 'gql.tada';
import { buildUrlForRecipe } from '~/lib/datocms/gqlUrlBuilder/recipe';
import type { TransformedMeta } from 'datocms-structured-text-generic-html-renderer';
import type { ItemLink } from 'datocms-structured-text-utils';
import { augmentLinkWithMeta } from '..';

interface Props {
  node: ItemLink;
  attrs: TransformedMeta;
  record: FragmentOf<typeof RecipeLinkFragment>;
}

const { record, attrs, node } = Astro.props;

const unmaskedRecord = readFragment(RecipeLinkFragment, record);
---

<a {...attrs} href={augmentLinkWithMeta(node.meta, buildUrlForRecipe(unmaskedRecord))}><slot /></a>
