.field {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  background: white;
  padding: 25px 30px;
  border-left: 7px solid transparent;
  transition: all 0.2s ease-in-out;

  label,
  .error {
    line-height: 1;
    display: block;
  }

  label {
    color: var(--light-body-color);
    font-weight: bold;
    font-size: 15px;
    padding-right: 80px;
    margin-bottom: 8px;
  }

  .error {
    font-size: 12px;
    background: var(--accent-color);
    margin-top: 5px;
    font-weight: bold;
  }

  &.fieldError,
  &:invalid {
    border-color: var(--accent-color);
  }

  &:has(input:focus) {
    border-left-color: var(--azure-color);
  }
}

.field {
  select,
  input,
  textarea {
    border: 0;
    margin: 0;
    background-color: white;
    font-family: inherit;
    font-size: 17px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    appearance: none;
    box-shadow: none;
    padding: 0;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--extra-light-body-color);
    }
  }

  textarea {
    min-height: 150px;
    max-height: 300px;
  }
}

.required {
  color: var(--accent-color);
}
