.field {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  background: white;
  --paddingTop: 50px;

  label,
  .error {
    position: absolute;
    line-height: 1;
    display: block;
  }

  label {
    top: 25px;
    left: 33px;
    color: var(--light-body-color);
    font-weight: bold;
    font-size: 15px;
    padding-right: 80px;
    pointer-events: none;
  }

  .error {
    font-size: 12px;
    right: 29px;
    left: auto;
    top: 22px;
    text-align: right;
    background: var(--accent-color);
    padding: 3px 5px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
  }

  &:hover .error {
    opacity: 0.3;
  }

  &.fieldError,
  &:invalid {
    border-color: var(--accent-color);
  }
}

.field {
  .selectPlaceholder {
    position: absolute;
    top: var(--paddingTop);
    left: 32px;
    right: 30px;
    font-size: rfs(17px);
    color: var(--extra-light-body-color);
    opacity: 0.6;
    pointer-events: none;
  }

  select,
  input,
  textarea {
    border: 0;
    margin: 0;
    background-color: white;
    padding: var(--paddingTop) 29px 20px;
    font-family: inherit;
    font-size: 17px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-left: 4px solid transparent;
    appearance: none;
    box-shadow: none;

    &:focus {
      outline: none;
      border-left-color: var(--azure-color);
    }

    &::placeholder {
      color: var(--extra-light-body-color);
    }
  }

  textarea {
    min-height: 150px;
    max-height: 300px;
  }
}

.required {
  color: var(--accent-color);
}
