@layer prose {
  .prose {
    letter-spacing: -0.01em;
    line-height: rfs(1.5);
  }

  /*

  These CSS rules are designed to style elements within <Prose /> for formatting
  text-heavy content like articles or blog posts.

  The <prose-island> element is a custom HTML element that you can wrap around
  part of HTML inside <Prose /> that you don't want to style with the rules below.
  It's basically a reset.

  Within a <prose-island> element you can re-use <Prose />, to re-apply the
  default styling.

  This is the pattern for the following rules:

  .prose [SELECTOR]:not(prose-island *),
  prose-island .prose [SELECTOR] {
    ...rules
  }

  */

  .prose figure:not(prose-island *),
  prose-island .prose figure {
    margin: 2em 0;
  }

  .prose figcaption:not(prose-island *),
  prose-island .prose figcaption {
    color: var(--light-body-color);
    font-size: 0.9em;
    margin-top: 15px;
    text-align: center;
  }

  .prose a:not(prose-island *),
  prose-island .prose a {
    color: inherit;

    &:hover {
      color: var(--accent-color);
    }
  }

  .prose h1:not(prose-island *),
  .prose h2:not(prose-island *),
  .prose h3:not(prose-island *),
  .prose h4:not(prose-island *),
  .prose h5:not(prose-island *),
  .prose h6:not(prose-island *),
  prose-island .prose h1,
  prose-island .prose h2,
  prose-island .prose h3,
  prose-island .prose h4,
  prose-island .prose h5,
  prose-island .prose h6 {
    font-size: 130%;
    line-height: 1.25;
    margin: rfs(70px) 0 rfs(23px);
    font-weight: bold;
    letter-spacing: -0.03em;
  }

  .prose h4:not(prose-island *),
  prose-island .prose h4 {
    margin: rfs(50px) 0 rfs(23px);
  }

  .prose h5:not(prose-island *),
  prose-island .prose h5 {
    margin: rfs(30px) 0 rfs(10px);
  }

  .prose h6:not(prose-island *),
  prose-island .prose h6 {
    margin: rfs(30px) 0 rfs(10px);
  }

  .prose h2:not(prose-island *),
  prose-island .prose h2 {
    font-size: 170%;
  }

  .prose h3:not(prose-island *),
  prose-island .prose h3 {
    font-size: 160%;
  }

  .prose hr:not(prose-island *),
  prose-island .prose hr {
    margin: rfs(60px) 0;
    width: 90%;
    height: 1px;
    background: var(--border-color);
    border: 0;
  }

  .prose details:not(prose-island *),
  prose-island .prose details {
    border: 1px solid var(--border-color);
    font-size: 0.9em;

    & + details {
      border-top: 0;
    }

    summary {
      cursor: pointer;
      font-weight: bold;
    }

    &[open] {
      padding: 10px 30px;

      summary {
        padding-bottom: 20px;
      }
    }

    &:not([open]) {
      summary {
        padding: 10px 30px;

        &:hover {
          background: var(--light-bg-color);
        }
      }
    }
  }

  .prose p:not(prose-island *),
  .prose ul:not(prose-island *),
  .prose ol:not(prose-island *),
  prose-island .prose p,
  prose-island .prose ul,
  prose-island .prose ol {
    margin: 0 0 1em;
  }

  .prose ul:not(prose-island *),
  .prose ol:not(prose-island *),
  prose-island .prose ul,
  prose-island .prose ol {
    padding-left: 1.2em;
  }

  .prose ul li:not(prose-island *),
  .prose ol li:not(prose-island *),
  prose-island .prose ul li,
  prose-island .prose ol li {
    margin: 0 0 0.5em;
  }

  .prose ul li p:last-child:not(prose-island *),
  .prose ol li p:last-child:not(prose-island *),
  prose-island .prose ul li p:last-child,
  prose-island .prose ol li p:last-child {
    margin-bottom: 0;
  }

  .prose code:not(prose-island *),
  prose-island .prose code {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 0.1em;
    padding: 0 0.1em;
    font-family: var(--font-mono);
    border-radius: 0.25em;
    font-size: 0.9em;
    overflow-wrap: break-word;
  }

  .prose mux-player:not(prose-island *),
  prose-island .prose mux-player {
    border-radius: 5px;
    overflow: hidden;
    display: block;
    box-shadow: var(--smaller-box-shadow);
    margin: 2.5em 0;
  }

  .prose table:not(prose-island *),
  prose-island .prose table {
    margin: 1em 0;
    width: 100%;
    font-size: 0.9em;
    line-height: 1.1;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-top: 0;
    }

    th {
      font-weight: normal;
      border-bottom: 1px solid var(--border-color);
      padding: 10px 15px;
      text-align: left;
      font-size: 0.8em;
      color: var(--light-body-color);
    }

    td {
      font-weight: normal;
      border-bottom: 1px solid var(--border-color);
      padding: 10px 15px;
      text-align: left;
    }

    th,
    td {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .prose *:last-child:not(prose-island *),
  prose-island .prose *:last-child {
    margin-bottom: 0;
  }
}
