.block {
  color: inherit;
  display: block;
  flex: 1;
  padding: 0 40px;
  text-decoration: none;
  transition: all 200ms ease;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (width > 800px) {
    margin-bottom: 0;
  }
}

a.block:hover {
  transform: translateY(-10px);
}

.blockTitle {
  font-weight: bold;
  font-size: rfs(90px);
  letter-spacing: -0.05em;
}

.logo {
  display: block;
  height: rfs(25px);
  margin: rfs(40px) auto 0;
  width: auto;

  path {
    fill: var(--base-body-color);
  }
}
