.hero {
  h1 br {
    display: none;

    @media screen and (min-width: 640px) {
      display: block;
    }
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: rfs(60px);

  @media screen and (min-width: 480px) {
    flex-direction: row;
    justify-content: center;
  }
}

.title {
  font-family: var(--font-headline);
  font-size: rfs(50px);
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1;
  margin: rfs(100px) auto 20px auto;
  text-align: center;

  @media screen and (min-width: 800px) {
    font-size: rfs(60px);
    max-width: 70%;
  }
}

.explore {
  text-align: center;

  h2 {
    font-family: var(--font-headline);
    font-size: rfs(60px);
    line-height: 1.1;
    margin-bottom: 0.5em;
  }
}

.pillarsWrapper {
  margin-top: -40px;
}

.teamCards {
  display: grid;
  gap: rfs(80px) rfs(60px);
  grid-template-columns: 1fr;

  @media screen and (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }
}

.useCasesCards {
  display: grid;
  gap: rfs(80px) rfs(60px);
  grid-template-columns: 1fr;

  @media screen and (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }
}

.customerStoryWrapper {
  justify-content: center;
  overflow: hidden;
  padding: 20px 0;
  width: 100%;
}

.customerStoryItem {
  border-radius: 8px;
  margin-left: rfs(20px);
  margin-top: rfs(20px);
  min-width: rfs(400px);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
}

.fakeLink {
  color: var(--accent-color);
  font-weight: 600;
}
