@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hero {
  h1 br {
    display: none;

    @media screen and (min-width: 640px) {
      display: block;
    }
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: rfs(60px);

  @media screen and (min-width: 480px) {
    flex-direction: row;
    justify-content: center;
  }
}

.flagTitle {
  align-items: center;
  display: flex;
  font-size: rfs(35px);
  gap: 12px;
  justify-content: center;

  @media screen and (min-width: 800px) {
    justify-content: flex-start;
  }
}

.title {
  font-family: var(--font-headline);
  font-size: rfs(50px);
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1;
  text-align: center;

  @media screen and (min-width: 800px) {
    font-size: rfs(60px);
    max-width: 70%;
  }
}

.title {
  margin: rfs(100px) auto 20px auto;
}

.pillarIcon {
  margin-right: 1rem;
  border: 10px solid red;
}

.customerStoryCarouselWrapper {
  overflow: hidden;
  width: 100%;
}

.customerStoryItem {
  min-width: rfs(400px);
  border-radius: 8px;
  overflow: hidden;
}

.testimonials {
  margin-top: rfs(120px);
}

.testimonialsButtonWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.featuresWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.featureGroupHeading {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: rfs(120px);
  margin-bottom: rfs(40px);
}

.featureGroupIcon {
  width: 100px;
  height: 90px;
  margin: 0;
  position: relative;

  svg {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.featureGroupTitle {
  font-size: rfs(30px);
  margin: 0;
}

.featuresContainer {
  display: grid;
  gap: 20px;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(1, 1fr);
  max-width: var(--page-width-with-margin);
  padding: 0 var(--page-margin);

  @media screen and (min-width: 660px) {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  @media screen and (min-width: 860px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
