.pagination {
  align-items: center;
  display: flex;
  gap: 0.25em;
  justify-content: center;
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
}

.pagination a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.pageNumber {
  &:hover:not(.isCurrent) {
    background-color: var(--border-color);
  }
}

.prev,
.next {
  &:hover {
    background-color: var(--border-color);
  }
}

.isCurrent {
  background-color: var(--accent-color);
  color: #fff;

  &:hover {
    background-color: var(--darker-accent-color);
  }
}
