---
import s from './style.module.css';
import type { Group } from './types';
import Entry from './Entry.astro';

type Props = Group;

const { title, entries } = Astro.props;
---

<div class={s.group}>
  <div class={s.groupName}>{title}</div>
  {entries.map((entry) => <Entry {...entry} />)}
</div>
