.group {
  margin: 30px 0;
}

.groupName {
  color: var(--light-body-color);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 10px;
}

.entry {
  margin-bottom: 7px;
  color: var(--light-body-color);
  display: block;
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.activeEntry {
  color: var(--accent-color);
}

.sidebarTitle {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}
