---
import { Hero } from '~/components/Hero';
import { Layout } from '~/layouts/Layout';
---

<Layout additionalSeo={[]} noFinalCta>
  <Fragment name="head">
    <title>404 - Page Not Found</title>
  </Fragment>
  <Hero>
    <Fragment slot="kicker">Page not found</Fragment>
    <Fragment slot="title">
      Sorry, the page you requested <mark>was not found</mark>!
    </Fragment>
  </Hero>
</Layout>
