---
import { Hero } from '~/components/Hero';
import { Layout } from '~/layouts/Layout';
---

<Layout additionalSeo={[]} noFinalCta>
  <Fragment name="head">
    <title>404 - Page Not Found</title>
  </Fragment>
  <Hero>
    <Fragment slot="kicker">Page not found</Fragment>
    <Fragment slot="title">
      It seems we made a wrong turn.. the page you requested <mark>could not be found</mark>. Please
      check the URL, or return to <a href="/">our homepage</a>.
    </Fragment>
  </Hero>
</Layout>
