---
import { Hero } from '~/components/Hero';
import { Layout } from '~/layouts/Layout';
---

<Layout seo={[]} noFinalCta>
  <Fragment name="head">
    <title>404 - Page Not Found</title>
  </Fragment>
  <Hero>
    <Fragment slot="kicker">Plot twist!</Fragment>
    <Fragment slot="title"><mark>Page not found</mark></Fragment>
    <Fragment slot="subtitle">
      It appears we took a wrong turn.. the page you requested could not be found. Please verify the
      URL, or return to <a href="/">our homepage</a>.
    </Fragment>
  </Hero>
</Layout>
