.form {
  font-family: var(--font-sans);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  overflow: hidden;
  background: var(--light-bg-color);
}

.result pre {
  margin: 0 !important;
  font-size: 15px;
  overflow: auto;
}

.manifest {
  padding: 30px;
  background: var(--light-bg-color);
  border-radius: 0 0 5px 5px;
}

.fieldArray {
  padding: var(--paddingTop) 29px 20px;

  .fieldArrayItem {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .fieldArrayItemField {
    margin-right: 20px;
  }

  .fieldArrayButton {
    background: var(--light-bg-color);
    color: inherit;
    display: inline-block;
    padding: 0.4em 0.5em;
    font-weight: bold;
    font-family: var(--font-sans);
    border-radius: 3px;
    border: 1px solid var(--light-bg-color);
    font-size: 15px;
    transition: opacity 150ms ease-in-out;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }
  }

  input {
    border: 0;
    margin: 0;
    padding: 5px 0;
    background-color: white;
    font-size: 14px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    appearance: none;
    box-shadow: none;
    border-bottom: 1px solid var(--border-color);

    &:focus {
      outline: none;
      border-bottom-color: var(--azure-color);
    }

    &::placeholder {
      color: var(--extra-light-body-color);
    }
  }

  select {
    width: 100%;
    border: 0;
    background: transparent;
    appearance: none;
    box-shadow: none;
    font-size: inherit;
    padding: 3px 10px;
    font-size: 14px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
  }
}

.field {
  .selectPlaceholder {
    position: absolute;
    top: var(--paddingTop);
    left: 32px;
    right: 30px;
    font-size: rfs(17px);
    color: var(--extra-light-body-color);
    opacity: 0.6;
    pointer-events: none;
  }

  select,
  input,
  textarea {
    border: 0;
    margin: 0;
    background-color: white;
    padding: var(--paddingTop) 29px 20px;
    font-family: inherit;
    font-size: 17px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-left: 4px solid transparent;
    appearance: none;
    box-shadow: none;

    &:focus {
      outline: none;
      border-left-color: var(--azure-color);
    }

    &::placeholder {
      color: var(--extra-light-body-color);
    }
  }

  textarea {
    min-height: 150px;
    max-height: 300px;
  }
}
