.banner {
  --content-max: 1280px;
  --content-pad: 36px;

  background: linear-gradient(to right, transparent 0%, #eefbfd 20%, #eefbfd 80%, transparent 100%);

  @media (width < 1000px) {
    --content-pad: var(--page-margin);
  }
}

.inner {
  max-width: var(--content-max);
  margin: 0 auto;
  padding: 10px var(--content-pad);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 14px;
  font-size: 14px;
  line-height: 1.3;
}

.headline {
  color: var(--body-color);
  font-weight: 600;
}

.subhead {
  color: var(--light-body-color);
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 14px;

  li {
    display: inline-flex;
    align-items: center;
    gap: 14px;
  }
}

.divider {
  color: var(--light-body-color);
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: var(--azure-color);
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }

  svg {
    width: 10px;
    height: 10px;
  }
}
