*/10 * * * * curl -i -X POST "https://${DRAFT_MODE_HOSTNAME}/api/memoized-fns-invalidate?token=${SECRET_API_TOKEN}"
0 0 * * * [ "$DEPLOYMENT_DESTINATION" = "production" ] && curl -i -X PUT -H "Authorization: Bearer ${DATOCMS_API_TOKEN}" -H "Accept: application/json" -H "X-Api-Version: 3" 'https://site-api.datocms.com/build-triggers/34759/reindex'