*/10 * * * * wget -q --server-response --post-data="" "https://${DRAFT_MODE_HOSTNAME}/api/memoized-fns-invalidate?token=XXX" -O - && echo
0 */4 * * * wget -q --server-response --method=PUT --header="Authorization: Bearer ${DATOCMS_API_TOKEN}" --header="Accept: application/json" --header="X-Api-Version: 3" 'https://site-api.datocms.com/build-triggers/34759/reindex'