.root {
  background: linear-gradient(45deg, #faedff, #e4faff);
  clip-path: var(--clip-path);
  padding: rfs(120px) 0;
  text-align: center;
}

.rootBlocks {
  display: flex;
  flex-direction: column;
  gap: rfs(40px) 0;

  @media screen and (min-width: 800px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.title {
  font-size: rfs(24px);
  margin-bottom: rfs(40px);
}
