.root {
  min-height: rfs(800px);
}

.picker {
  max-width: 600px;
  margin: 0 auto;
}

.topic {
  margin-bottom: rfs(50px);
}

.topicLabel {
  margin: 0;
}

.topicSelect {
  display: block;
  border: 0;
  margin: 0;
  padding: 15px 30px 15px 0;
  font-family: inherit;
  font-size: rfs(30px);
  display: block;
  box-sizing: border-box;
  width: 100%;
  appearance: none;
  border-bottom: 1px solid var(--border-color);
  font-family: var(--font-serif);
  background-color: white;
  background-image: url('../../public/icons/regular/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: rfs(30px);
  color: inherit;

  &:focus {
    outline: none;
  }

  option {
    font-family: var(--font-sans);
    font-size: 25px;
  }
}

.form {
  margin-left: calc(var(--page-margin) * -0.5);
  margin-right: calc(var(--page-margin) * -0.5);

  @media (width > 900px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.talkWithUs {
  padding: rfs(100px) 0;
}

.talkWithUsInner {
  max-width: 600px;
  margin: 0 auto;
}

.talkWithUsIntro {
  margin-bottom: rfs(60px);
  text-align: center;
}

.talkWithUsTitle {
  font-family: var(--font-headline);
  line-height: 1.2;
  font-size: rfs(60px);
  margin-bottom: rfs(40px);
  font-weight: bold;
}

.description {
  padding: rfs(50px);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  max-width: 700px;
  margin: 0 calc(var(--page-margin) * -0.5);

  @media (width > 900px) {
    line-height: 1.6;
    margin: 0 auto;
  }
}

.footer {
  margin-top: rfs(200px);
}
