---
import { Layout } from '~/layouts/Layout';
import { Hero } from '~/components/Hero';
import { LegalProse } from '~/components/LegalProse';
import { Markdown } from '~/components/Markdown';
import { rawContent } from '~/documents/profit-sharing.md';
---

<Layout seo={[]}>
  <Fragment slot="head">
    <title>Profit Sharing Program</title>
  </Fragment>

  <Hero>
    <Fragment slot="kicker">Our Company</Fragment>
    <Fragment slot="title">
      <mark>Profit Sharing Program</mark>
    </Fragment>
  </Hero>

  <LegalProse>
    <Markdown of={rawContent()} />
  </LegalProse>
</Layout>
