---
import { Layout } from '~/layouts/Layout';
import { Hero } from '~/components/Hero';
import { LegalProse } from '~/components/LegalProse';
import { Markdown } from '~/components/Markdown';
import { resolve, dirname } from 'node:path';
import { fileURLToPath } from 'url';
import { readFile } from 'node:fs/promises';

const __filename = fileURLToPath(import.meta.url);
const __dirname = dirname(__filename);

const body = await readFile(resolve(__dirname, '../../../../documents/profit-sharing.md'), 'utf8');
---

<Layout additionalSeo={[]}>
  <Fragment slot="head">
    <title>Profit Sharing Program</title>
  </Fragment>

  <Hero>
    <Fragment slot="kicker">Our Company</Fragment>
    <Fragment slot="title">
      <mark>Profit Sharing Program</mark>
    </Fragment>
  </Hero>

  <LegalProse>
    <Markdown of={body} />
  </LegalProse>
</Layout>
