---
import s from './style.module.css';

type Props = {
  question: string;
};

const { question } = Astro.props;
---

<div class={s.faq}>
  <h6 class={s.faqQ}>{question}</h6>
  <div class={s.faqA}><slot /></div>
</div>
