.faqs {
  max-width: 1000px;
  margin: 0 auto;

  @media (width > 600px) {
    column-count: 2;
    column-gap: 60px;
  }
}

.faq {
  margin-bottom: rfs(40px);
  display: inline-block;
  width: 100%;
  text-align: center;

  @media (width > 600px) {
    text-align: left;
  }
}

.faqQ {
  font-weight: bold;
  color: var(--light-body-color);
  font-size: rfs(20px);
  margin-bottom: 15px;
}

.faqA {
  font-size: 0.9em;

  a {
    color: inherit;

    &:hover {
      color: var(--accent-color);
    }
  }
}
