---
import DocCalloutBase from '~/components/docs/blocks/DocCallout/Base.astro';
---

<DocCalloutBase calloutType="warning" title="Warning: Experimental API">
  <p>
    Please note that the Dashboard API is an experimental, prerelease API. This API method is
    considered unstable, and should be avoided in production environments and automations. Changes
    may occur at any time without warning.
  </p>
</DocCalloutBase>
