.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: rfs(80px);
  justify-content: center;
  padding: rfs(120px) 0 rfs(80px) 0;
  text-align: center;

  @media screen and (min-width: 1000px) {
    display: grid;
    grid-auto-flow: column;
    grid-gap: rfs(60px);
    grid-template-columns: 5fr 4fr;
    text-align: left;
  }
}

.headKicker {
  margin-bottom: rfs(40px);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1000px) {
    justify-content: flex-start;
  }

  img,
  svg {
    height: rfs(30px);
    flex-shrink: 0;
  }
}

.plus {
  display: inline-block;
  color: #111;
  font-size: rfs(36px);
  line-height: 1;
  font-weight: 400;
  margin: 0 0.75em;
  transform: translateY(0.075em);
}

.heroTitle {
  font-family: var(--font-headline);
  font-size: rfs(64px);
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1.1;
  margin: 0 0 rfs(40px) 0;
}

.heroSubtitle {
  font-size: rfs(22px);
  margin-bottom: rfs(20px);
}

.heroImageWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;

  .heroImage {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    height: auto;
    overflow: hidden;
  }
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  gap: rfs(40px) rfs(60px);
  justify-content: flex-start;
  margin-bottom: 60px;
}

.numberBlock {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  flex-shrink: 0;
  flex: 1;
  min-width: 180px;
  padding: rfs(30px);
  text-align: center;
}

.numberTitle {
  letter-spacing: -0.05em;
  font-weight: 600;
  font-size: rfs(48px);
  color: var(--accent);

  @media (width > 768px) {
    font-size: rfs(64px);
  }
}

.numberLabel {
  font-weight: 600;
  margin-top: 1em;
}

.glanceWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: rfs(30px);

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  & > .challenge,
  & > .result {
    flex: 1;
  }
}

.challenge,
.result {
  padding: rfs(60px) rfs(50px);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: #fff;
  max-width: 480px;

  h3 {
    font-family: var(--font-sans);
    font-size: rfs(32px);
    font-weight: 600;
    letter-spacing: -0.025em;
    margin-bottom: 1em;
  }
}

.challenge h3 {
  color: var(--accent-color);
}

.result h3 {
  color: var(--azure-color);
}

.arrowsWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: rfs(140px);

  .arrows {
    align-items: center;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    gap: rfs(50px);
    justify-content: center;
    max-width: rfs(160px); /* acts as the height because the element is rotated 90deg */
    transform: rotate(90deg);
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    .arrows {
      max-width: unset;
      transform: rotate(0deg);
    }
  }
}

.fullStory {
  display: grid;
  grid-template-columns: 1fr;
  margin: rfs(40px) 0 rfs(120px) 0;
  gap: rfs(100px);
  position: relative;

  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 280px;
  }
}

.body {
  font-family: var(--font-serif);
  font-size: rfs(21px);
  line-height: 1.6;
  margin: 0 auto;
  max-width: 850px;

  & > *:first-child {
    margin-top: 70px; /* Normalize the top margin in case the title is missing */
  }

  prose-island {
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans);
  }

  > figure {
    margin: 3em 0;

    @media screen and (min-width: 1200px) {
      margin-left: -40px;
      margin-right: -40px;
    }

    figcaption {
      color: var(--light-body-color);
      font-family: var(--font-sans);
      font-size: 0.8em;
      margin-top: 10px;
      text-align: center;
    }
  }
}

.aside {
  color: var(--light-body-color);
  align-self: start;

  @media screen and (min-height: 700px) {
    position: sticky;
    top: 100px;
  }

  @media screen and (min-width: 520px) {
    columns: 2;
  }

  @media screen and (min-width: 960px) {
    margin-top: 80px;
    columns: unset;
  }

  h3 {
    font-size: 1em;
    margin-bottom: 0.5em;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

.asideItem {
  break-inside: avoid-column;

  &:not(:last-child) {
    margin-bottom: 0.75em;
  }
}
