.fullStory {
  margin: rfs(200px) 0;
}

.body {
  font-size: rfs(21px);
  line-height: 1.6;
  letter-spacing: -0.02em;
  max-width: 850px;
  margin: 0 auto;
  font-family: var(--font-serif);

  prose-island {
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans);
  }

  > figure {
    margin: 3em 0;

    @media (width > 1100px) {
      margin-left: -80px;
      margin-right: -80px;
    }

    figcaption {
      color: var(--light-body-color);
      font-size: 0.8em;
      margin-top: 10px;
      text-align: center;
      font-family: var(--font-sans);
    }
  }
}
