.embla {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    overflow: hidden;
    padding: 0 var(--page-margin);
  }

  @media screen and (min-width: 1200px) {
    padding: 0 calc(var(--page-margin) * 2);
  }

  &:hover {
    .prevSlide,
    .nextSlide {
      opacity: 1;
      pointer-events: all;

      &[disabled] svg {
        opacity: 0.3;
      }
    }
  }
}

.emblaContainer {
  display: flex;
  gap: 0.75rem;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.prevSlide,
.nextSlide {
  all: unset;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 30%;
  transition:
    opacity 0.3s,
    transform 0.3s;
  width: 44px;
  z-index: 20;
  transform: translateY(-50%);
}

.prevSlide {
  left: var(--page-margin);
  transform: translateX(-50%);

  @media screen and (min-width: 1200px) {
    left: calc(var(--page-margin) * 2);

    &:hover {
      transform: translateX(-50%) scale(1.1);
    }
  }
}

.nextSlide {
  right: var(--page-margin);
  transform: translateX(50%);

  @media screen and (min-width: 1200px) {
    right: calc(var(--page-margin) * 2);

    &:hover {
      transform: translateX(50%) scale(1.1);
    }
  }
}
