---
import { Svg } from '~/components/Svg';
import s from './style.module.css';

interface Props {
  href: string;
  center?: boolean;
}

const { href, center } = Astro.props;
---

<a href={href} class:list={[s.announce, center && s.announceCenter]}>
  <Svg name="icons/regular/megaphone" />
  <div>
    <slot />
  </div>
</a>
