.announce {
  background: linear-gradient(45deg, #fefbe4, #fdf0eb);
  border-radius: 5px;
  color: inherit;
  display: block;
  font-size: 1rem;
  margin: rfs(40px) 0;
  padding: 20px;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: var(--box-shadow);
  }

  & > * {
    display: inline;
    flex-shrink: 0;
    flex-wrap: wrap;
    max-width: auto;
  }

  svg {
    margin-right: 12px;
    transform: translateY(2px);
  }
}

.announceCenter {
  text-align: center;
}
