.unwrap {
  @media (width > 1200px) {
    margin-left: -40px;
    margin-right: -40px;
  }
}

.inDepth {
  align-items: center;
  background: linear-gradient(10deg, #fdfbe4, #fcefea);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: flex;
  font-family: var(--font-sans);
  font-size: rfs(17px);
  letter-spacing: 0;
  margin: rfs(50px) 0;
  padding: 30px;
  position: relative;
  text-decoration: none;
  top: 0;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: inherit !important;
    top: -5px;
  }
}

.inDepthImage {
  display: none;
  margin-right: 30px;

  svg {
    height: 70px;
  }

  @media (width > 600px) {
    display: block;
  }
}

.inDepthTitle {
  font-weight: bold;
}

.inDepthDescription {
  color: var(--light-body-color);
  line-height: 1.2em;

  p,
  ul,
  ol {
    margin: 0 0 rfs(10px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.inDepthCta {
  color: var(--light-body-color);
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;

  svg {
    height: 0.7em;
    margin-left: 10px;
  }
}
