.ctaBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  gap: 10px;
  padding: 15px;
  background: linear-gradient(45deg, #f9ecfe, #fefae4);
  border-radius: 5px;

  .button {
    transition: transform 0.1s ease-in-out;
  }

  &:hover {
    .button {
      transform: scale(1.1);
    }
  }

  @media screen and (min-width: 1125px) {
    border-radius: 0;
    background: white;
    padding: 30px 20px;
    gap: 20px;
  }
}

.ctaImage {
  display: none;

  @media screen and (min-width: 1125px) {
    display: flex;
    justify-content: center;

    svg {
      aspect-ratio: 1/1;
      width: 70px;
    }
  }
}

.ctaBody {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 15px;

  @media screen and (min-width: 1125px) {
    text-align: center;
  }
}

.ctaTitle {
  font-size: 14px;
  margin: 0;

  @media screen and (min-width: 1125px) {
    font-size: 19px;
    text-align: center;
    color: var(--accent-color);
  }
}

.ctaDescription {
  color: var(--light-body-color);
  margin: 0;
  font-size: 14px;

  @media screen and (min-width: 1125px) {
    font-size: 15px;
    text-align: center;
  }
}
