---
import { CustomerStoryInlineFragment } from './graphql';
import { readFragment, type FragmentOf } from 'gql.tada';
import { buildUrlForCustomerStory } from '~/lib/datocms/gqlUrlBuilder/customerStory';

interface Props {
  record: FragmentOf<typeof CustomerStoryInlineFragment>;
}

const { record } = Astro.props;

const unmaskedRecord = readFragment(CustomerStoryInlineFragment, record);
---

<a href={buildUrlForCustomerStory(unmaskedRecord)} data-datocms-content-link-group>
  {unmaskedRecord.title}
</a>
