---
import { FeatureLinkFragment } from './graphql';
import { readFragment, type FragmentOf } from 'gql.tada';
import { buildUrlForFeature } from '~/lib/datocms/gqlUrlBuilder/feature';
import type { TransformedMeta } from 'datocms-structured-text-generic-html-renderer';
import type { ItemLink } from 'datocms-structured-text-utils';
import { augmentLinkWithMeta } from '..';

interface Props {
  node: ItemLink;
  attrs: TransformedMeta;
  record: FragmentOf<typeof FeatureLinkFragment>;
}

const { record, attrs, node } = Astro.props;

const unmaskedRecord = readFragment(FeatureLinkFragment, record);
---

<a {...attrs} href={augmentLinkWithMeta(node.meta, buildUrlForFeature(unmaskedRecord))}><slot /></a>
