.block {
  margin-bottom: rfs(35px);

  &.separateMoreFromContent {
    margin-bottom: rfs(70px);

    h3 {
      margin-bottom: 30px;
      text-transform: uppercase;
    }
  }
}

.heading {
  color: var(--light-body-color);
  display: flex;
  gap: 1rem;
  margin-bottom: 10px;
  position: relative;
  align-items: center;

  h3 {
    color: inherit;
    display: flex;
    font-size: 20px;
  }

  svg {
    position: absolute;
    left: calc(-1 * 2rem);
    margin-bottom: 2px;
  }
}

/* .blockTitle {
  display: flex;
  position: relative;

  svg {
    fill: var(--light-body-color);
    margin-right: 10px;

    @media (width > 1200px) {
      position: absolute;
      right: 100%;
    }
  }
} */
