---
import s from './_style.module.css';

type Props = {
  title: string;
};
---

<div class={s.benefit}>
  <div class={s.benefitTitle}>{Astro.props.title}</div>
  <div class={s.benefitContent}><slot /></div>
</div>
