.heroCta {
  margin-top: 50px;
}

.benefitsSection {
  padding: rfs(80px) 0;
}

.benefits {
  @media (width > 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 40px;
  }
}

.benefit {
  background: white;
  box-shadow: var(--box-shadow);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;

  @media (width > 900px) {
    padding: 50px;
    margin-bottom: 0;
  }
}

.benefitTitle {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}

.benefitContent {
  font-size: 17px;
  line-height: 1.4;

  a {
    color: var(--darker-accent-color);
  }
}

.benefitLink {
  margin-top: 20px;

  a {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.agencyPlans {
  padding: rfs(100px) 0;
  position: relative;
  text-align: center;

  &:before {
    background: linear-gradient(45deg, #e9fcff 30%, #fdf2ed 60%);
    clip-path: var(--clip-path);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.agencyPlansTitle {
  font-family: var(--font-headline);
  font-size: rfs(50px);
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1.15;
  max-width: 700px;
  margin: 0 auto rfs(20px);
}

.agencyPlansSubtitle {
  max-width: 600px;
  margin: 0 auto rfs(30px);
  font-size: rfs(18px);
  line-height: 1.4;
  color: var(--light-body-color);
}

.steps {
  list-style: none;
  padding: 0;
  margin: rfs(60px) 0 0;

  @media (width > 700px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
}

.step {
  margin-bottom: 40px;

  @media (width > 700px) {
    margin-bottom: 0;
  }
}

.stepNumber {
  font-family: var(--font-headline);
  font-size: rfs(60px);
  font-weight: 900;
  color: var(--accent-color);
  line-height: 1;
  margin-bottom: 15px;
}

.stepTitle {
  font-weight: bold;
  font-size: rfs(20px);
  margin-bottom: 10px;
}

.stepContent {
  font-size: 16px;
  color: var(--light-body-color);
  line-height: 1.5;
}

.form {
  max-width: 900px;
  margin: rfs(30px) auto;
}
