---
import { FormResultLayout } from '~/layouts/FormResultLayout';
---

<FormResultLayout type="success" kicker="Agency Partner Program">
  <p>
    We have successfully received your request, and <strong
      >you will soon receive an automated confirmation via email</strong
    >.
  </p>
  <p>
    We look forward to meeting you soon, learning more about your agency, and sharing the philosophy
    of our Partner Program.
  </p>
  <p>See you very soon!</p>
</FormResultLayout>
