---
import { FormResultLayout } from '~/layouts/FormResultLayout';
import { GOOGLE_ADS_CONVERSIONS } from '~/lib/googleAds';
---

<FormResultLayout type="success" kicker="Agency Partner Program">
  <script is:inline define:vars={{ GADS_CONVERSION: GOOGLE_ADS_CONVERSIONS.partnerSubmit }}>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('event', 'conversion', { send_to: GADS_CONVERSION });
  </script>
  <p>
    We have successfully received your request, and <strong
      >you will soon receive an automated confirmation via email</strong
    >.
  </p>
  <p>
    We look forward to meeting you soon, learning more about your agency, and sharing the philosophy
    of our Partner Program.
  </p>
  <p>See you very soon!</p>
</FormResultLayout>
