@import './variables.css';
@import './font-faces.css';

* {
  box-sizing: border-box;
}

html {
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
  scrollbar-gutter: both-edges;
}

body {
  margin: 0;
  color: var(--base-body-color);
  font-family: var(--font-sans);
  font-size: rfs(18px);
  text-rendering: optimizeLegibility;
  background: white;
  overflow-y: auto;
}

figure {
  margin: 0;
}

img,
video,
picture,
mux-player {
  display: block;
  max-width: 100%;
}

mux-player {
  width: 100%;
}

::-moz-selection {
  background: #f4cf58;
}
::selection {
  background: #f4cf58;
}

mark {
  background: linear-gradient(120deg, #f4cf58 0%, #f4cf58 100%) no-repeat 0 88%/100% 0.4em
    transparent;
  font-weight: inherit;
}

mark.good {
  background-image: linear-gradient(120deg, #c6ffc2 0%, #c6ffc2 100%);
}

mark.bad {
  background-image: linear-gradient(120deg, #fac2c2 0%, #fac2c2 100%);
}

mark.warning {
  background-image: linear-gradient(120deg, #fdf4c2 0%, #fdf4c2 100%);
}
