.title {
  font-size: rfs(50px);
  margin-bottom: rfs(40px);
  line-height: 1;
  letter-spacing: -0.03em;
  font-family: var(--font-sans);
  font-weight: bold;
}

.kicker {
  font-size: rfs(16px);
  font-weight: bold;
  color: var(--extra-light-body-color);
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

.article {
  padding-top: rfs(50px);
  padding-bottom: rfs(50px);
  font-size: rfs(18px);
  line-height: 1.6;
}

@media (width >= 1300px) {
  .articleContainer {
    display: flex;
    flex-direction: row-reverse;
  }

  .article {
    min-width: 538px;
    flex: 1;
  }

  .sidebar {
    padding-top: 58px;
    padding-left: 64px;
    width: 330px;
  }
}

@media (width > 1600px) {
  .emptySidebar {
    padding-top: 58px;
    padding-left: 64px;
    width: 330px;
  }
}

@media (width < 1300px) {
  .article {
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
    border-bottom: 1px solid var(--border-color);
  }
}
