.reqRes {
  margin: 2em 0;
  padding-left: 25px;
  border-left: 5px solid var(--border-color);
}

.pill {
  padding: 5px 8px;
  border-radius: 4px;
  background: #f4f5ff;
  color: #1e64f0;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 12px;
  font-weight: regular;
  letter-spacing: 0;
}

.reqRes:hover {
  border-left-color: color-mix(in lch, var(--highlight-bg-color), var(--light-body-color));
}

.title {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  text-align: inherit;

  font-size: 120%;
  font-weight: bold;
  font-family: var(--font-sans);
  color: var(--light-body-color);
  cursor: pointer;
}

.title:hover .titleTitle {
  text-decoration: underline;
}

.description {
  font-size: 16px;
  max-width: 800px;
}

.details {
  margin-top: 20px;
  display: none;

  &[data-open] {
    display: block;
  }
}

.tabs {
  margin-top: 15px;
}
