.schema {
  font-family: var(--font-sans);
  font-size: 15px;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);

  &:last-child {
    border-bottom: 0;
  }
}

.name {
  font-family: var(--font-mono);
  font-weight: bold;
  color: #555;
  font-size: 0.95em;
}

.required {
  color: var(--accent-color);
  font-size: 0.95em;
}

.optional {
  color: var(--light-body-color);
  font-size: 0.95em;
}

.prefix {
  font-family: var(--font-mono);
  color: #555;
  font-size: 0.95em;
}

.properties {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.deprecatedDescription {
  color: var(--light-body-color);
}

.types {
  p {
    display: contents;
  }
}
