---
import s from './style.module.css';
import { QuestionAnswerFragment } from './graphql';
import { readFragment, type FragmentOf } from 'gql.tada';
import { ensureValidStructuredTextProps, Text } from '~/components/structuredText/Text';
import { defaultLinkToRecordComponents } from '~/components/linkToRecords';
import { defaultInlineRecordComponents } from '~/components/inlineRecords';

interface Props {
  block: FragmentOf<typeof QuestionAnswerFragment>;
}

const { block: maskedBlock } = Astro.props;

const block = readFragment(QuestionAnswerFragment, maskedBlock);
---

<div class={s.qa}>
  <div class={s.qaQuestion}>
    <Text
      {...ensureValidStructuredTextProps({
        data: block.question,
        linkToRecordComponents: defaultLinkToRecordComponents,
        inlineRecordComponents: defaultInlineRecordComponents,
      })}
    />
  </div>
  <div class={s.qaAnswer}>
    <Text
      {...ensureValidStructuredTextProps({
        data: block.answer,
        linkToRecordComponents: defaultLinkToRecordComponents,
        inlineRecordComponents: defaultInlineRecordComponents,
      })}
    />
  </div>
</div>
