---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;
---

{
  Astro.props.href ? (
    <a {...Astro.props}>
      <slot />
    </a>
  ) : (
    <span {...Astro.props}>
      <slot />
    </span>
  )
}
