.grid {
  display: flex;
  flex-direction: column;
  gap: rfs(80px);

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 300px;
  }
}

.content {
  min-width: 0;
  position: relative;

  .titleWrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    @media screen and (min-width: 1024px) {
      justify-content: flex-start;
    }
  }

  .title {
    font-size: rfs(48px);
    text-align: center;

    @media screen and (min-width: 1024px) {
      text-align: left;
    }
  }

  .badge {
    background-color: #f4cf58;
    border-radius: 40px;
    font-size: 0.75em;
    padding: 2px 8px;
  }

  .subtitle {
    color: var(--light-body-color);
    font-size: rfs(24px);
    font-weight: 400;
    margin-top: 1em;
    text-align: center;

    @media screen and (min-width: 1024px) {
      text-align: left;
    }
  }

  .ctaMobile {
    align-items: center;
    display: block;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}

.aside {
  .asideContentDesktop {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
      position: sticky;
      top: 140px;
    }
  }

  .cardCta {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.slide {
  border-radius: 6px;
  box-shadow: var(--smaller-box-shadow);
  flex-shrink: 0;
  margin: 30px 0;
  overflow: hidden;
  width: calc(100% - 40px);
}

.publisher {
  margin-top: 40px;
  padding: 0 20px;

  h4 {
    font-size: 1rem;
  }

  article {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-top: 8px;
    transform: translateX(-4px);
  }

  .publisherIcon {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    height: 40px;
    padding: 10px;
    width: 40px;

    svg {
      transform: translateX(2px);
    }
  }
}
