.logoWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: rfs(40px);
}

.logo {
  max-height: rfs(160px);
  width: 100%;
  max-width: 500px;
}

.contentWrapper {
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr;
  margin: 80px 0;

  @media screen and (min-width: 960px) {
    gap: rfs(160px);
    grid-template-columns: 1fr rfs(340px);
  }
}

.action {
  align-items: center;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: rfs(40px) 0;
}

.blockTitle {
  color: var(--light-body-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.projectsGrid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  margin-top: 30px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.pluginsGrid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  margin-top: 30px;

  @media (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 850px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.aside {
  @media screen and (min-width: 640px) {
    columns: 2;
  }

  @media screen and (min-width: 960px) {
    columns: 1;
  }
}

.list {
  font-size: 16px;
  line-height: 1.5;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
  }
}
