.trigger {
  display: inline-flex;
  align-items: center;
}

.tooltipContent {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

.arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  background: var(--tooltip-arrow-bg, currentColor);
}
