.hook {
  border: 1px solid var(--border-color);
  margin-top: 10px;
  padding: 8px 13px;
  font-family: var(--font-sans);
  border-radius: 3px;
  position: relative;
  font-size: 15px;
}

.hookExpand {
  position: absolute;
  top: 11px;
  left: 13px;
  cursor: pointer;

  svg {
    color: var(--extra-light-body-color);
    flex-shrink: 0;
    display: block;
  }

  span:first-child {
    display: block;
  }
  span:last-child {
    display: none;
  }

  &[data-open] {
    span:first-child {
      display: none;
    }
    span:last-child {
      display: block;
    }
  }
}

.hookBody {
  flex: 1;
  padding-left: 20px;
  align-self: center;
}

.hookName {
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  border: 0;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 21px;

  &:hover .hookNameDesc {
    color: var(--base-body-color);
  }

  &:not([aria-expanded='true']) .hookNameDesc {
    display: inline;
  }
}

.hookNameName {
  font-family: var(--font-mono);
  font-size: 0.95em;
  color: var(--base-body-color);
}

.hookNameDesc {
  display: none;
  padding-left: 10px;
  font-size: 13px;
  color: var(--light-body-color);
}

a.hookGithub {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  color: var(--light-body-color);
}

.hookDeets {
  margin-top: 16px;
  margin-bottom: 5px;
  line-height: 1.2;
  display: none;

  &[data-open] {
    display: block;
  }

  figure {
    margin-top: 15px;
  }
}
