.demo {
  display: grid;
  max-width: 860px;
  grid-gap: rfs(60px);
  align-items: center;
  font-family: var(--font-sans);
  margin: rfs(80px) auto;
  font-size: rfs(18px);
  text-align: center;
  line-height: 1.3;

  @media (width > 800px) {
    grid-template-columns: 450px 1fr;
    text-align: left;
  }
}

.demoPreview {
  max-width: 450px;
  margin: 0 auto;
}

.techLogo {
  margin-top: 20px;
  box-shadow: none !important;
  height: 25px;
  display: block !important;
  margin: 20px auto 0;

  @media (width > 800px) {
    margin: 20px 0 0;
  }
}

.demoDesc {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 15px;
}

.demoTitle {
  font-size: rfs(30px);
  font-weight: bold;
  margin-bottom: 10px;
}
