---
import { HostingAppInlineFragment } from './graphql';
import { readFragment, type FragmentOf } from 'gql.tada';
import { buildUrlForHostingApp } from '~/lib/datocms/gqlUrlBuilder/hostingApp';

interface Props {
  record: FragmentOf<typeof HostingAppInlineFragment>;
}

const { record } = Astro.props;

const unmaskedRecord = readFragment(HostingAppInlineFragment, record);
---

<a href={buildUrlForHostingApp(unmaskedRecord)} data-datocms-content-link-group>
  {unmaskedRecord.title}
</a>
