.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: rfs(80px);
  padding: 0 calc(var(--page-margin) * 2);
  width: 100%;

  @media screen and (min-width: 1280px) {
    padding: 0 rfs(100px);
  }
}

.quotes {
  columns: 1;
  gap: rfs(120px);
  max-width: 2000px;
  width: 100%;

  @media screen and (min-width: 640px) {
    columns: 2;
  }

  @media screen and (min-width: 1620px) {
    columns: 3;
  }
}

.quote {
  break-inside: avoid;
  margin-bottom: rfs(120px);
}
