.quotes {
  columns: 1;
  gap: rfs(120px);
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--page-margin);

  @media screen and (min-width: 640px) {
    columns: 2;
  }

  @media screen and (min-width: 1250px) {
    columns: 3;
  }

  @media screen and (min-width: 1650px) {
    columns: 4;
  }
}

.quote {
  break-inside: avoid;
  margin: 0 auto rfs(120px);
  max-width: 420px;
}
