.wrapper {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);

  @media (width > 1200px) {
    padding-left: 10vh;
    padding-right: 10vh;
  }
}

.quote {
  margin-bottom: rfs(80px);
}
