---
import { RecipeInlineFragment } from './graphql';
import { readFragment, type FragmentOf } from 'gql.tada';
import { buildUrlForRecipe } from '~/lib/datocms/gqlUrlBuilder/recipe';

interface Props {
  record: FragmentOf<typeof RecipeInlineFragment>;
}

const { record } = Astro.props;

const unmaskedRecord = readFragment(RecipeInlineFragment, record);
---

<a href={buildUrlForRecipe(unmaskedRecord)}>
  {unmaskedRecord.title}
</a>
