.responsiveImage {
  border-radius: 5px;
  overflow: hidden;
  display: block !important;
  box-shadow: var(--smaller-box-shadow);
  margin: 0 auto;
}

.framelessResponsiveImage {
  overflow: hidden;
  display: inline-block;
}
