---
import CreateModularBlocks from '~/components/featureAnimations/CreateModularBlocks';
import LandingPagesGenerator from '~/components/featureAnimations/LandingPagesGenerator';
import UseModularBlocks from '~/components/featureAnimations/UseModularBlocks';
import { Bullets } from '~/components/Bullets';
import { Flag } from '~/components/Flag';
import { Hero } from '~/components/Hero';
import { Layout } from '~/layouts/Layout';
import { SingleQuote } from '~/components/quote/SingleQuote';
import { Space } from '~/components/Space';
import { Svg } from '~/components/Svg';
import { UiChrome } from '~/components/UiChrome';
import { Wrapper } from '~/components/Wrapper';
import { avoidAstroTypeCheckBug, notFoundResponse } from '~/lib/notFoundResponse';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { query } from './_graphql';

const path = Astro.url.pathname;
const slug = path.split('/').pop() || '';
const { page } = await executeQuery(Astro, query, { variables: { slug } });

if (!page) {
  avoidAstroTypeCheckBug(notFoundResponse);
  return notFoundResponse();
}
---

<Layout additionalSeo={page._seoMetaTags}>
  <Hero>
    <Fragment slot="kicker">Dynamic layouts</Fragment>
    <Fragment slot="title">
      Build dynamic layouts with <mark>modular blocks</mark>
    </Fragment>
    <Fragment slot="subtitle">
      Define reusable custom components and build dynamic layouts for landing pages, micro websites,
      case studies and testimonials
    </Fragment>
  </Hero>

  <Wrapper>
    <Flag>
      <Fragment slot="visual">
        <UiChrome>
          <CreateModularBlocks client:visible />
        </UiChrome>
      </Fragment>
      <Fragment slot="title">Create <mark>modular blocks</mark></Fragment>
      <p>
        Modular blocks allow you to define reusable custom components that enable your writers to
        build rich stories.
      </p>
    </Flag>

    {
      page.quote && (
        <Space top={3} bottom={3}>
          <SingleQuote quote={page.quote} />
        </Space>
      )
    }

    <Flag>
      <Fragment slot="visual">
        <UiChrome>
          <UseModularBlocks client:visible />
        </UiChrome>
      </Fragment>
      <Fragment slot="title"><mark>Organize and structure</mark> your content</Fragment>
      <p>
        Modular blocks are very flexible and easy to use. You can stack & reorganize them on the fly
        with drag and drop functionality.
      </p>
    </Flag>

    {
      page.quote2 && !!page.quote2.__typename && (
        <Space top={3} bottom={3}>
          <SingleQuote quote={page.quote2} />
        </Space>
      )
    }

    <Flag>
      <Fragment slot="visual">
        <UiChrome>
          <LandingPagesGenerator client:visible />
        </UiChrome>
      </Fragment>
      <Fragment slot="title">
        Easily build landing pages with <mark>dynamic templates</mark>
      </Fragment>
      <p>
        Boost your acquisition and SEO by quickly creating rich and inspiring campaign pages
        featuring trends or events thanks to dynamic layouts.
      </p>
    </Flag>

    <Flag style="good">
      <Fragment slot="visual">
        <Svg name="svg/illustrations/box-things" />
      </Fragment>
      <Fragment slot="kicker">The most user-friendly CMS</Fragment>
      <Fragment slot="title">
        A complete set of <mark>smart, modern tools</mark>
      </Fragment>
      <p>
        DatoCMS does not only offer composable and dynamic layouts, but a full, coordinated
        <strong>suite of different tools</strong> to give you the best editing and development experience.
        Find out why we are famous for being <strong>the most user-friendly CMS</strong>:
      </p>
      <article>
        <Bullets style="good">
          <li>
            <Svg name="icons/regular/check" />
            <a href="/features/data-integrity" title="Fastest headless CMS CDN">
              <span>Safety and integrity of your content</span>
            </a>
          </li>
          <li>
            <Svg name="icons/regular/check" />
            <a href="/features/headless-cms-multi-languag" title="Headless CMS multilanguage">
              <span>A complete set of multilanguage features</span>
            </a>
          </li>
          <li>
            <Svg name="icons/regular/check" />
            <a href="/features/workflow-cms" title="Workflow CMS">
              <span>Organization of your workflow</span>
            </a>
          </li>
          <li>
            <Svg name="icons/regular/check" />
            <a href="/features/structured-content-cms" title="Structured Content CMS">
              <span>A flowless editing experience</span>
            </a>
          </li>
        </Bullets>
      </article>
    </Flag>
  </Wrapper>
</Layout>
