.body {
  padding-bottom: rfs(80px);
  font-size: rfs(18px);
  line-height: 1.6;
  letter-spacing: -0.01em;

  > figure {
    margin: 2.5em 0;

    figcaption {
      color: var(--light-body-color);
      font-size: 0.9em;
      margin-top: 15px;
      text-align: center;
    }
  }
}

.body {
  a:not(figure a) {
    color: inherit;

    &:hover {
      color: var(--accent-color);
    }
  }

  h1:not(figure h1),
  h2:not(figure h2),
  h3:not(figure h3),
  h4:not(figure h4),
  h5:not(figure h5),
  h6:not(figure h6) {
    font-size: 130%;
    line-height: 1.25;
    margin: rfs(70px) 0 rfs(23px);
    font-weight: bold;
    font-family: var(--font-sans);
    letter-spacing: -0.03em;
  }

  h4:not(figure h4) {
    margin: rfs(50px) 0 rfs(23px);
  }

  h5:not(figure h5) {
    margin: rfs(30px) 0 rfs(10px);
  }

  h6:not(figure h6) {
    margin: rfs(30px) 0 rfs(10px);
  }

  h2:not(figure h2) {
    font-size: 170%;
  }

  h3:not(figure h3) {
    font-size: 160%;
  }

  hr:not(figure hr) {
    margin: rfs(60px) 0;
    width: 90%;
    height: 1px;
    background: var(--border-color);
    border: 0;
  }

  details:not(figure details) {
    margin-bottom: 1em;

    > *:last-child {
      margin-bottom: 4em;
    }

    summary {
      line-height: 1.25;
      margin-bottom: 1em;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p:not(figure p),
  ul:not(figure ul),
  ol:not(figure ol) {
    margin: 0 0 1em;
  }

  ul:not(figure ul),
  ol:not(figure ol) {
    padding-left: 1.2em;

    li {
      margin: 0 0 0.5em;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  iframe:not(figure iframe) {
    margin: 0;
  }

  code:not(figure code) {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 0.1em;
    padding: 0 0.1em;
    font-family: var(--font-mono);
    border-radius: 0.25em;
    font-size: 0.9em;
    overflow-wrap: break-word;
  }

  mux-player:not(figure mux-player) {
    border-radius: 5px;
    overflow: hidden;
    display: block;
    box-shadow: var(--box-shadow);
    margin: 2.5em 0;
  }

  table:not(figure table) {
    width: 100%;
    font-size: 0.9em;
    font-family: var(--font-sans);
    line-height: 1.1;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-top: 0;
    }

    th {
      font-weight: normal;
      border-bottom: 1px solid var(--border-color);
      padding: 10px 15px;
      text-align: left;
      font-size: 0.8em;
      color: var(--light-body-color);
    }

    td {
      font-weight: normal;
      border-bottom: 1px solid var(--border-color);
      padding: 10px 15px;
      text-align: left;
    }

    th,
    td {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
