name: Deploy

permissions:
  id-token: write
  contents: read
  packages: write

on:
  push:
    branches:
      - production
      - staging1
      - staging2

concurrency:
  group: deploy-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy on ${{ github.ref_name }}
    uses: ./.github/workflows/reusable-deploy.yml
    secrets:
      DATOCMS_API_TOKEN: ${{ secrets.DATOCMS_API_TOKEN }}
    with:
      environment: ${{ github.ref_name }}
      strategy: rolling
