name: Manual deploy

permissions:
  id-token: write
  contents: read
  packages: write

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: 'Cubo environment to deploy to'
        required: true
        options:
          - production
          - staging1
          - staging2
      release-tag:
        description: 'Release tag'
        required: false
        default: ''
        type: string
      no-cache:
        description: 'Use no-cache option'
        required: false
        default: false
        type: boolean

concurrency:
  group: deploy-${{ github.ref }}
  cancel-in-progress: true

jobs:
  call-reusable:
    uses: ./.github/workflows/reusable-deploy.yml
    secrets:
      DATOCMS_API_TOKEN: ${{ secrets.DATOCMS_API_TOKEN }}
    with:
      environment: ${{ inputs.environment }}
      strategy: rolling
      release-tag: ${{ inputs.release-tag }}
      no-cache: ${{ inputs.no-cache }}
