---
import s from './style.module.css';
import { Svg } from '~/components/Svg';

type Props = {
  href?: string;
};

const { href } = Astro.props;
---

<a class={s.button} href={href} target="_blank" rel="noreferrer">
  <Svg name="icons/brands/github" />
  <slot />
</a>
